Repository DuendeSoftware/products, pull requests merged in 2025-06, with the labels that each got.

#2029 Token Issue Count Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Endpoints/AuthorizeEndpointBase.cs
  identity-server/src/IdentityServer/Endpoints/TokenEndpoint.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/TokenIssueCountDiagnosticEntry.cs
  identity-server/src/Telemetry/Telemetry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/TokenIssueCountDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2033 License Usage Summary Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/LicenseUsageDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/LicenseUsageDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2038 Add null-check for client before coordinating session lifecycle
  identity-server/src/IdentityServer/Services/Default/DefaultSessionCoordinationService.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultSessionCoordinationServiceTests.cs
Labels: area/products/identity-server, .NET

#2040 Re-introduce interface for Frontendstore.
  bff/src/Bff/BffBuilder.cs
  bff/src/Bff/DynamicFrontends/IFrontendCollection.cs
  bff/src/Bff/DynamicFrontends/Internal/ConfigureBffStartupFilter.cs
  bff/src/Bff/DynamicFrontends/Internal/FrontendCollection.cs
  bff/src/Bff/DynamicFrontends/Internal/FrontendSelector.cs
  bff/src/Bff/DynamicFrontends/Internal/IndexHtmlHttpClient.cs
  bff/test/Bff.Tests/Configuration/BffBuilderTests.cs
  bff/test/Bff.Tests/MultiFrontend/FrontendSelectorTests.cs
  bff/test/Bff.Tests/MultiFrontend/LocalFrontEndStoreTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
Labels: impact/breaking, area/products/bff

#2036 Endpoint Usage Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/EndpointUsageDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/EndpointUsageDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2043 Client Info Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Infrastructure/RemovePropertyModifier.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/ClientLoadedTracker.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/ClientInfoDiagnosticEntry.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/IdentityServerOptionsDiagnosticEntry.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/test/IdentityServer.UnitTests/Infrastructure/RemovePropertyModifierTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/ClientLoadedTrackerTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/ClientInfoDiagnosticEntryTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AuthorizeRequest Validation/Authorize_ProtocolValidation_Resources.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/Factory.cs
Labels: area/products/identity-server

#2046 Slow down cleanup job frequency in development
  identity-server/hosts/EntityFramework-dotnet9/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework/IdentityServerExtensions.cs
Labels: internal, area/products/identity-server

#2041 Fix the sliding cookie configuration when using frontend tests
  bff/src/Bff/BffBuilder.cs
  bff/src/Bff/DynamicFrontends/BffConfigureCookieOptions.cs
  bff/src/Bff/DynamicFrontends/BffConfigureOpenIdConnectOptions.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureApplicationCookieTicketStore.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureSlidingExpirationCheck.cs
  bff/test/Bff.Tests/SessionManagement/CookieSlidingTests.cs
  bff/test/Bff.Tests/TestInfra/BffTestBase.cs
  bff/test/Bff.Tests/TestInfra/TestData.cs
  bff/test/Bff.Tests/TestInfra/TestDataBuilder.cs
  bff/test/Bff.Tests/TestInfra/TestHost.cs
Labels: area/products/bff

#2047 Resource Info Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/ResourceInfoDiagnosticEntry.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/ResourceLoadedTracker.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/ResourceInfoDiagnosticEntryTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/ResourceLoadedTrackerTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AuthorizeRequest Validation/Authorize_ProtocolValidation_Resources.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/Factory.cs
Labels: area/products/identity-server

#1988 Use ServiceDefaults for IdSrv host to get Otel in Aspire
  Directory.Packages.props
  identity-server/aspire/ServiceDefaults/Extensions.cs
  identity-server/aspire/ServiceDefaults/SerilogExtensions.cs
  identity-server/aspire/ServiceDefaults/ServiceDefaults.csproj
  identity-server/clients/src/APIs/DPoPApi/Program.cs
  identity-server/clients/src/APIs/MtlsApi/Program.cs
  identity-server/clients/src/APIs/ResourceBasedApi/Program.cs
  identity-server/clients/src/APIs/SimpleApi/Program.cs
  identity-server/clients/src/MvcAutomaticTokenManagement/HostingExtensions.cs
  identity-server/clients/src/MvcAutomaticTokenManagement/Program.cs
  identity-server/clients/src/MvcCode/Program.cs
  identity-server/clients/src/MvcDPoP/Program.cs
  identity-server/clients/src/MvcHybridBackChannel/HostingExtensions.cs
  identity-server/clients/src/MvcHybridBackChannel/Program.cs
  identity-server/clients/src/MvcJarJwt/HostingExtensions.cs
  identity-server/clients/src/MvcJarJwt/Program.cs
  identity-server/clients/src/MvcJarUriJwt/HostingExtensions.cs
  identity-server/clients/src/MvcJarUriJwt/Program.cs
  identity-server/hosts/AspNetIdentity/Host.AspNetIdentity.csproj
  identity-server/hosts/AspNetIdentity/HostingExtensions.cs
  identity-server/hosts/AspNetIdentity/Program.cs
  identity-server/hosts/AspNetIdentity/appsettings.json
  identity-server/hosts/Configuration/HostingExtensions.cs
  identity-server/hosts/Configuration/Program.cs
  identity-server/hosts/EntityFramework-dotnet9/Host.EntityFramework.dotnet9.csproj
  identity-server/hosts/EntityFramework-dotnet9/HostingExtensions.cs
  identity-server/hosts/EntityFramework-dotnet9/Program.cs
  identity-server/hosts/EntityFramework-dotnet9/appsettings.json
  identity-server/hosts/EntityFramework/Host.EntityFramework.csproj
  identity-server/hosts/EntityFramework/HostingExtensions.cs
  identity-server/hosts/EntityFramework/Program.cs
  identity-server/hosts/EntityFramework/appsettings.json
  identity-server/hosts/main/Host.Main.csproj
  identity-server/hosts/main/HostingExtensions.cs
  identity-server/hosts/main/Program.cs
  identity-server/src/EntityFramework.Storage/Stores/ServerSideSessionStore.cs
Labels: internal, area/products/identity-server, impact/non-breaking

#2051 Assembly Info Diagnostic Entry Tweaks
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/AssemblyInfoDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/AssemblyInfoDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2048 Registered Implementation Diagnostic Entry Tweaks
  identity-server/hosts/Configuration/Host.Configuration.csproj
  identity-server/hosts/EntityFramework-dotnet9/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework/IdentityServerExtensions.cs
  identity-server/hosts/Shared/Customization/ParameterizedScopeParser.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/RegisteredImplementationDetails.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/RegisteredImplementationsDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/RegisteredImplementationsDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2054 Remove assemblyCount from diagnostics
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/AssemblyInfoDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/AssemblyInfoDiagnosticEntryTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2055 Remove pop from the names of token counts in diagnostics
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/TokenIssueCountDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/TokenIssueCountDiagnosticEntryTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2056 remove custom signin-bff url
  Directory.Packages.props
  bff/hosts/Hosts.IdentityServer/Config.cs
  bff/src/Bff/Constants.cs
  bff/src/Bff/DynamicFrontends/BffConfigureOpenIdConnectOptions.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestInfra/IdentityServerTestHost.cs
Labels: area/products/bff

#2057 Diagnostic Summary Log Tweaks
  identity-server/src/IdentityServer/Events/Infrastructure/EventIds.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticSummary.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/Log.cs
  identity-server/src/Telemetry/Tracing.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticSummaryTests.cs
Labels: area/products/identity-server

#2060 Apply V4 style in in-memory host and fix logout issue
  bff/hosts/Hosts.Bff.InMemory/Extensions.cs
  bff/hosts/Hosts.Bff.InMemory/Program.cs
  bff/hosts/Hosts.Bff.MultiFrontend/Program.cs
  bff/hosts/Hosts.IdentityServer/Config.cs
  bff/src/Bff/DynamicFrontends/BffAuthenticationSchemes.cs
  bff/src/Bff/DynamicFrontends/BffConfigureAuthenticationOptions.cs
  bff/src/Bff/DynamicFrontends/BffConfigureCookieOptions.cs
  bff/src/Bff/DynamicFrontends/Internal/BffAuthenticationSchemeProvider.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureApplicationCookieTicketStore.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureSlidingExpirationCheck.cs
  bff/test/Bff.Tests/Configuration/BffBuilderTests.cs
  bff/test/Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/BackchannelLogoutEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/ManagementBasePathTests.cs
  bff/test/Bff.Tests/Endpoints/Management/UserEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/YarpTests.cs
  bff/test/Bff.Tests/Headers/ApiAndBffUseForwardedHeaders.cs
  bff/test/Bff.Tests/Headers/ApiUseForwardedHeaders.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestInfra/BffHttpClient.cs
  bff/test/Bff.Tests/TestInfra/BffTestBase.cs
Labels: area/products/bff

#2062 Support client_secret_jwt client auth
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
  identity-server/hosts/Shared/Configuration/ClientsConsole.cs
  identity-server/src/Configuration/Validation/DynamicClientRegistration/DynamicClientRegistrationValidator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests_token_endpoint_auth_signing_algs_supported.cs
Labels: area/products/identity-server

#2068 IS Non-Aspire Default Config
  identity-server/aspire/AppHost/Properties/launchSettings.json
  identity-server/aspire/ServiceDefaults/Extensions.cs
  identity-server/aspire/ServiceDefaults/FallbackIsHostConfigurationSource.cs
Labels: internal, area/products/identity-server

#2069 automatically map the management endpoints
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent/Program.cs
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly/Program.cs
  bff/hosts/Hosts.Bff.EF/Extensions.cs
  bff/hosts/Hosts.Bff.InMemory/Program.cs
  bff/hosts/Hosts.Bff.MultiFrontend/Program.cs
  bff/performance/Bff.Benchmarks/Hosts/BffHost.cs
  bff/src/Bff/BffEndpointRouteBuilderExtensions.cs
  bff/src/Bff/DynamicFrontends/Internal/ConfigureBffStartupFilter.cs
  bff/test/Bff.Tests/Headers/GeneralTests.cs
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
  bff/test/Bff.Tests/TestInfra/TestHostContext.cs
Labels: area/products/bff

#2071 Adds tests for yarp transformers and makes the request config configurable.
  bff/src/Bff.Yarp/RouteBuilderExtensions.cs
  bff/test/Bff.Tests/BffFrontendIndexTests.cs
  bff/test/Bff.Tests/BffRemoteApiTests.cs
  bff/test/Bff.Tests/Endpoints/DPoPTestsWithManualAuthentication.cs
  bff/test/Bff.Tests/Endpoints/DpopRemoteEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/YarpTests.cs
  bff/test/Bff.Tests/Headers/ApiAndBffUseForwardedHeaders.cs
  bff/test/Bff.Tests/Headers/ApiUseForwardedHeaders.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_Yarp.verified.txt
  bff/test/Bff.Tests/TestInfra/TestData.cs
Labels: area/products/bff

#2063 Make sure benchmark setup doesn't include units
  bff/performance/Bff.Benchmarks/BenchmarkBase.cs
  bff/performance/Bff.Benchmarks/Program.cs
Labels: area/products/bff

#2077 Revert "Support client_secret_jwt client auth"
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
  identity-server/hosts/Shared/Configuration/ClientsConsole.cs
  identity-server/src/Configuration/Validation/DynamicClientRegistration/DynamicClientRegistrationValidator.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/JwtRequestAuthorizeTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests_token_endpoint_auth_signing_algs_supported.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpoint_request_object_auth_signing_algs_supported.cs
Labels: area/products/identity-server

#2079 Use standard error response for failed mTLS auth
  identity-server/src/IdentityServer/Hosting/MutualTlsEndpointMiddleware.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/MutualTlsEndpointMiddlewareTests.cs
Labels: area/products/identity-server
