Repository DuendeSoftware/products, pull requests merged in 2025-08, with the labels that each got.

#2156 Address CA1870 Violations
  identity-server/src/AspNetIdentity/Decorator.cs
  identity-server/src/AspNetIdentity/UserClaimsFactory.cs
  identity-server/src/Configuration.EntityFramework/DefaultCancellationTokenProvider.cs
  identity-server/src/Configuration/Licensing/ConfigurationLicenseValidator.cs
  identity-server/src/Configuration/Models/DynamicClientRegistration/DynamicClientRegistrationResponse.cs
  identity-server/src/Configuration/RequestProcessing/DynamicClientRegistrationRequestProcessor.cs
  identity-server/src/Configuration/Validation/DynamicClientRegistration/DynamicClientRegistrationValidator.cs
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework.Storage/Mappers/AllowedSigningAlgorithmsConverter.cs
  identity-server/src/EntityFramework.Storage/Stores/ResourceStore.cs
  identity-server/src/EntityFramework.Storage/Stores/ServerSideSessionStore.cs
  identity-server/src/EntityFramework/TokenCleanupHost.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/KeyManagementOptions.cs
  identity-server/src/IdentityServer/Endpoints/UserInfoEndpoint.cs
  identity-server/src/IdentityServer/Extensions/ClaimsExtensions.cs
  identity-server/src/IdentityServer/Extensions/HttpResponseExtensions.cs
  identity-server/src/IdentityServer/Extensions/IResourceStoreExtensions.cs
  identity-server/src/IdentityServer/Extensions/ResourceExtensions.cs
  identity-server/src/IdentityServer/Extensions/TokenExtensions.cs
  identity-server/src/IdentityServer/Hosting/FederatedSignOut/AuthenticationRequestHandlerWrapper.cs
  identity-server/src/IdentityServer/Hosting/ServerSideSessionCleanupHost.cs
  identity-server/src/IdentityServer/IdentityServerTools.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseAccessor.cs
  identity-server/src/IdentityServer/Logging/Models/AuthorizeRequestValidationLog.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeInteractionResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultClaimsService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultConsentService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultPersistedGrantService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultTokenService.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/FileSystemKeyStore.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyManager.cs
  identity-server/src/IdentityServer/Services/Default/LogoutNotificationService.cs
  identity-server/src/IdentityServer/Stores/Caching/CachingResourceStore.cs
  identity-server/src/IdentityServer/Stores/InMemory/InMemoryServerSideSessionStore.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/BackchannelAuthenticationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultClientConfigurationValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DeviceAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/JwtRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/StrictRedirectUriValidatorAppAuth.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/src/IdentityServer/Validation/Models/ParsedScopesResult.cs
  identity-server/src/IdentityServer/Validation/Models/ResourceValidationResult.cs
  identity-server/src/Shared/Extensions/StringExtensions.cs
  identity-server/src/Storage/IdentityServerUser.cs
  identity-server/src/Storage/Models/Client.cs
  identity-server/src/Storage/Stores/Serialization/PersistentGrantSerializer.cs
Labels: internal, area/products/identity-server

#2154 Address CA1863 Violations
  identity-server/src/AspNetIdentity/Decorator.cs
  identity-server/src/AspNetIdentity/UserClaimsFactory.cs
  identity-server/src/Configuration.EntityFramework/DefaultCancellationTokenProvider.cs
  identity-server/src/Configuration/Licensing/ConfigurationLicenseValidator.cs
  identity-server/src/Configuration/Models/DynamicClientRegistration/DynamicClientRegistrationResponse.cs
  identity-server/src/Configuration/RequestProcessing/DynamicClientRegistrationRequestProcessor.cs
  identity-server/src/Configuration/Validation/DynamicClientRegistration/DynamicClientRegistrationValidator.cs
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework.Storage/Mappers/AllowedSigningAlgorithmsConverter.cs
  identity-server/src/EntityFramework.Storage/Stores/ResourceStore.cs
  identity-server/src/EntityFramework.Storage/Stores/ServerSideSessionStore.cs
  identity-server/src/EntityFramework/TokenCleanupHost.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/KeyManagementOptions.cs
  identity-server/src/IdentityServer/Endpoints/UserInfoEndpoint.cs
  identity-server/src/IdentityServer/Extensions/ClaimsExtensions.cs
  identity-server/src/IdentityServer/Extensions/HttpResponseExtensions.cs
  identity-server/src/IdentityServer/Extensions/IResourceStoreExtensions.cs
  identity-server/src/IdentityServer/Extensions/ResourceExtensions.cs
  identity-server/src/IdentityServer/Extensions/TokenExtensions.cs
  identity-server/src/IdentityServer/Hosting/FederatedSignOut/AuthenticationRequestHandlerWrapper.cs
  identity-server/src/IdentityServer/Hosting/ServerSideSessionCleanupHost.cs
  identity-server/src/IdentityServer/IdentityServerTools.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseAccessor.cs
  identity-server/src/IdentityServer/Logging/Models/AuthorizeRequestValidationLog.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeInteractionResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultClaimsService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultConsentService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultPersistedGrantService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultTokenService.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/FileSystemKeyStore.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyManager.cs
  identity-server/src/IdentityServer/Services/Default/LogoutNotificationService.cs
  identity-server/src/IdentityServer/Stores/Caching/CachingResourceStore.cs
  identity-server/src/IdentityServer/Stores/InMemory/InMemoryServerSideSessionStore.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/BackchannelAuthenticationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultClientConfigurationValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DeviceAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/JwtRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/StrictRedirectUriValidatorAppAuth.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/src/IdentityServer/Validation/Models/ParsedScopesResult.cs
  identity-server/src/IdentityServer/Validation/Models/ResourceValidationResult.cs
  identity-server/src/Shared/Extensions/StringExtensions.cs
  identity-server/src/Storage/IdentityServerUser.cs
  identity-server/src/Storage/Models/Client.cs
  identity-server/src/Storage/Stores/Serialization/PersistentGrantSerializer.cs
Labels: internal, area/products/identity-server

#2161 Use is-7.3.0-rc.2 in templates
  identity-server/templates/src/IdentityServer/IdentityServerTemplate.csproj
  identity-server/templates/src/IdentityServerAspNetIdentity/IdentityServerAspNetIdentity.csproj
  identity-server/templates/src/IdentityServerEmpty/IdentityServerEmpty.csproj
  identity-server/templates/src/IdentityServerEntityFramework/IdentityServerEntityFramework.csproj
  identity-server/templates/src/IdentityServerInMem/IdentityServerInMem.csproj
Labels: area/products/identity-server, area/products/templates

#2163 Reorganize client creation in template
  identity-server/templates/src/IdentityServer/Pages/Account/Login/Index.cshtml
  identity-server/templates/src/IdentityServer/Pages/Account/Logout/Index.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/ApiScopes/ApiScopeRepository.cs
  identity-server/templates/src/IdentityServer/Pages/Admin/ApiScopes/Edit.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/ApiScopes/New.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/ApiScopes/New.cshtml.cs
  identity-server/templates/src/IdentityServer/Pages/Admin/Clients/ClientRepository.cs
  identity-server/templates/src/IdentityServer/Pages/Admin/Clients/Edit.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/Clients/EditSecret.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/Clients/New.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/Clients/New.cshtml.cs
  identity-server/templates/src/IdentityServer/Pages/Admin/IdentityScopes/Edit.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/IdentityScopes/IdentityScopeRepository.cs
  identity-server/templates/src/IdentityServer/Pages/Admin/IdentityScopes/New.cshtml
  identity-server/templates/src/IdentityServer/Pages/Admin/IdentityScopes/New.cshtml.cs
Labels: area/products/templates

#2167 Address CA2000 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Configuration/CryptoHelper.cs
  identity-server/src/IdentityServer/Services/Default/BackChannelLogoutHttpClient.cs
  identity-server/src/IdentityServer/Services/Default/DefaultJwtRequestUriHttpClient.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/EcKeyContainer.cs
Labels: internal, area/products/identity-server

#2166 Log diagnostics to filesystem in Development builds only
  identity-server/templates/src/IdentityServer/Extensions/HostingExtensions.cs
  identity-server/templates/src/IdentityServer/Program.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/HostingExtensions.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Program.cs
  identity-server/templates/src/IdentityServerEmpty/HostingExtensions.cs
  identity-server/templates/src/IdentityServerEmpty/Program.cs
  identity-server/templates/src/IdentityServerEntityFramework/HostingExtensions.cs
  identity-server/templates/src/IdentityServerEntityFramework/Program.cs
  identity-server/templates/src/IdentityServerInMem/HostingExtensions.cs
  identity-server/templates/src/IdentityServerInMem/Program.cs
Labels: area/products/templates

#2170 Address CA2211 Violations
  identity-server/CHANGELOG.md
  identity-server/src/Directory.Build.props
  identity-server/src/Shared/Telemetry/Telemetry.cs
Labels: impact/breaking, area/products/identity-server

#2172 Address CA2253 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework/TokenCleanupHost.cs
  identity-server/src/IdentityServer/Hosting/ServerSideSessionCleanupHost.cs
  identity-server/src/IdentityServer/Infrastructure/MessageCookie.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeInteractionResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultRefreshTokenService.cs
  identity-server/src/IdentityServer/Validation/Default/BackchannelAuthenticationRequestIdValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DeviceCodeValidator.cs
Labels: internal, area/products/identity-server

#2177 Update to 7.3.0 in templates
  identity-server/templates/src/IdentityServer/IdentityServerTemplate.csproj
  identity-server/templates/src/IdentityServerAspNetIdentity/IdentityServerAspNetIdentity.csproj
  identity-server/templates/src/IdentityServerEmpty/IdentityServerEmpty.csproj
  identity-server/templates/src/IdentityServerEntityFramework/IdentityServerEntityFramework.csproj
  identity-server/templates/src/IdentityServerInMem/IdentityServerInMem.csproj
Labels: area/products/templates

#2178 Support RespectNullableAnnotationsDefault
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/ClientLoadedTracker.cs
  identity-server/test/IdentityServer.UnitTests/IdentityServer.UnitTests.csproj
Labels: area/products/identity-server

#2179 Fix unkown license feature bug
  identity-server/src/IdentityServer/Licensing/V2/License.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseFeature.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseAccessorTests.cs
Labels: area/products/identity-server

#2180 Merge 7.3.1 fixes to main
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/ClientLoadedTracker.cs
  identity-server/src/IdentityServer/Licensing/V2/License.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseFeature.cs
  identity-server/test/IdentityServer.UnitTests/IdentityServer.UnitTests.csproj
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseAccessorTests.cs
Labels: internal, area/products/identity-server

#2176 Address CA5394 Violations
  identity-server/src/Configuration/Licensing/LicenseValidator.cs
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework/TokenCleanupHost.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Additional.cs
  identity-server/src/IdentityServer/Configuration/IdentityServerApplicationBuilderExtensions.cs
  identity-server/src/IdentityServer/Endpoints/AuthorizeEndpointBase.cs
  identity-server/src/IdentityServer/Endpoints/PushedAuthorizationEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/UserInfoEndpoint.cs
  identity-server/src/IdentityServer/Hosting/ServerSideSessionCleanupHost.cs
  identity-server/src/IdentityServer/Licensing/LicenseValidator.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseAccessor.cs
  identity-server/src/IdentityServer/Logging/ILoggerExtensions.cs
  identity-server/src/IdentityServer/Logging/SanitizedLogger.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultDeviceFlowInteractionService.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/FileSystemKeyStore.cs
  identity-server/src/IdentityServer/Validation/Default/BackchannelAuthenticationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultDPoPProofValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DeviceAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/EndSessionRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/RequestObjectValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
Labels: internal, area/products/identity-server

#2183 Set synchronization delay to 0
  identity-server/hosts/AspNetIdentity/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework-dotnet9/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework/IdentityServerExtensions.cs
  identity-server/hosts/main/IdentityServerExtensions.cs
Labels: area/products/identity-server

#2188 Add duende-is to templates README.md
  templates/README.md
Labels: area/products/templates, impact/non-breaking
