Repository DuendeSoftware/products, pull requests merged in 2025-05, with the labels that each got.

#1992 Updated template package readme to reflect new template names
  templates/README.md
Labels: area/products/templates

#1993 Fix minver in templates
  templates.props
Labels: area/products/templates

#1994 DPoP Jwt Bearer extensibility reworked
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ConfigureJwtBearerOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonContext.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonResult.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPServiceCollectionExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ReplayCache.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/AspNetCore.Authentication.JwtBearer.Tests.csproj
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AccessTokenCnfTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/DPoPProofValidatorTestBase.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/FreshnessTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/PayloadTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/ReplayTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/TestDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/TokenValidationTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/ApiHost.cs
Labels: impact/breaking, area/products/jwtbearer

#1999 Update minver config
  Directory.Build.props
Labels: internal, area/products/identity-server, impact/non-breaking

#2000 7.1 minver fix
  Directory.Build.props
Labels: internal, area/products/identity-server, impact/non-breaking

#2001 7.2 minver fix
  identity-server/Directory.Build.props
Labels: internal, area/products/identity-server, impact/non-breaking

#1998 Ensure WWW-Authenticate uses a single HTTP header
  .gitignore
  identity-server/Directory.Build.targets
  identity-server/src/IdentityServer/Endpoints/Results/ProtectedResourceErrorResult.cs
  identity-server/test/Configuration.IntegrationTests/Configuration.IntegrationTests.csproj
  identity-server/test/EntityFramework.IntegrationTests/EntityFramework.IntegrationTests.csproj
  identity-server/test/EntityFramework.Storage.IntegrationTests/EntityFramework.Storage.IntegrationTests.csproj
  identity-server/test/EntityFramework.Storage.UnitTests/EntityFramework.Storage.UnitTests.csproj
  identity-server/test/IdentityServer.IntegrationTests/IdentityServer.IntegrationTests.csproj
  identity-server/test/IdentityServer.UnitTests/Endpoints/Results/ProtectedResourceErrorResultTests.cs
  identity-server/test/IdentityServer.UnitTests/IdentityServer.UnitTests.csproj
Labels: area/products/identity-server

#2004 Adjust Multiple DPoP Token Error
  identity-server/src/IdentityServer/Endpoints/TokenEndpoint.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPTokenEndpointTests.cs
Labels: area/products/identity-server

#2003 Filter Request Object
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/LoggingOptions.cs
Labels: area/products/identity-server

#2005 DPoP Error Handling in JwtBearerExtensions
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/PayloadTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
Labels: area/products/jwtbearer

#2002 Remove "Duende.IdentityServer.Experimental" service name from telemetry
  identity-server/src/Telemetry/Telemetry.cs
  identity-server/test/IdentityServer.UnitTests/Telemetry/TelemetryTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2006 Options of Allowed Signing Algorithms JWTs and DPoP Proof Tokens
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/DPoPOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/IdentityServerConstants.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultDPoPProofValidator.cs
  identity-server/src/IdentityServer/Validation/Default/JwtRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/JwtRequestAuthorizeTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AccessTokenValidation.cs
  identity-server/test/IdentityServer.UnitTests/Validation/DPoPProofValidatorTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: area/products/identity-server

#2009 Pass a cancellation token where it was accidentally forgotten
  identity-server/src/EntityFramework.Storage/TokenCleanup/TokenCleanupService.cs
Labels: area/products/identity-server, impact/non-breaking

#2008 Trivial Typos
  identity-server/hosts/EntityFramework-dotnet9/Host.EntityFramework.dotnet9.csproj
  identity-server/hosts/EntityFramework/Host.EntityFramework.csproj
  identity-server/migrations/IdentityServerDb/IdentityServerDb.csproj
  identity-server/test/IdentityServer.IntegrationTests/Hosting/LicenseTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2010 Adjust Default Values for Clock Skew Config Options
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/DPoPOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
Labels: area/products/identity-server

#2011 Change error when required DPoP proof is missing
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPTokenEndpointTests.cs
Labels: area/products/identity-server

#2012 Rename aspire projects and update package/sdk references
  Directory.Packages.props
  bff/hosts/Hosts.AppHost/Hosts.AppHost.csproj
  identity-server/aspire/AppHost/AppHost.csproj
  identity-server/aspire/AppHost/Program.cs
  identity-server/aspire/AppHost/Properties/launchSettings.json
  identity-server/aspire/AppHost/ResourceBuilderExtensions.cs
  identity-server/aspire/AppHost/appsettings.Development.json
  identity-server/aspire/AppHost/appsettings.json
  identity-server/aspire/AppHost/aspire.orchestrator.AppHost.v3.ncrunchproject
  identity-server/aspire/ServiceDefaults/Extensions.cs
  identity-server/aspire/ServiceDefaults/ServiceDefaults.csproj
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/aspire.orchestrator.AppHost.csproj
  identity-server/clients/src/APIs/DPoPApi/DPoPApi.csproj
  identity-server/clients/src/APIs/ResourceBasedApi/ResourceBasedApi.csproj
  identity-server/clients/src/APIs/SimpleApi/SimpleApi.csproj
  identity-server/clients/src/ConsoleCibaClient/ConsoleCibaClient.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlow/ConsoleClientCredentialsFlow.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowCallingIdentityServerApi/ConsoleClientCredentialsFlowCallingIdentityServerApi.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowDPoP/ConsoleClientCredentialsFlowDPoP.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowPostBody/ConsoleClientCredentialsFlowPostBody.csproj
  identity-server/clients/src/ConsoleCode/ConsoleCode.csproj
  identity-server/clients/src/ConsoleCustomGrant/ConsoleExtensionGrant.csproj
  identity-server/clients/src/ConsoleDcrClient/ConsoleDcrClient.csproj
  identity-server/clients/src/ConsoleDeviceFlow/ConsoleDeviceFlow.csproj
  identity-server/clients/src/ConsoleEphemeralMtlsClient/ConsoleEphemeralMtlsClient.csproj
  identity-server/clients/src/ConsoleIntrospectionClient/ConsoleIntrospectionClient.csproj
  identity-server/clients/src/ConsoleMTLSClient/ConsoleMTLSClient.csproj
  identity-server/clients/src/ConsoleParameterizedScopeClient/ConsoleParameterizedScopeClient.csproj
  identity-server/clients/src/ConsolePrivateKeyJwtClient/ConsolePrivateKeyJwtClient.csproj
  identity-server/clients/src/ConsoleResourceIndicators/ConsoleResourceIndicators.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlow/ConsoleResourceOwnerFlow.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowPublic/ConsoleResourceOwnerFlowPublic.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowReference/ConsoleResourceOwnerFlowReference.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowRefreshToken/ConsoleResourceOwnerFlowRefreshToken.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowUserInfo/ConsoleResourceOwnerFlowUserInfo.csproj
  identity-server/clients/src/ConsoleScopesResources/ConsoleScopesResources.csproj
  identity-server/clients/src/JsOidc/JsOidc.csproj
  identity-server/clients/src/MvcAutomaticTokenManagement/MvcAutomaticTokenManagement.csproj
  identity-server/clients/src/MvcCode/MvcCode.csproj
  identity-server/clients/src/MvcDPoP/MvcDPoP.csproj
  identity-server/clients/src/MvcHybridBackChannel/MvcHybridBackChannel.csproj
  identity-server/clients/src/MvcJarJwt/MvcJarJwt.csproj
  identity-server/clients/src/MvcJarUriJwt/MvcJarUriJwt.csproj
  identity-server/hosts/AspNetIdentity/Host.AspNetIdentity.csproj
  identity-server/hosts/Configuration/Host.Configuration.csproj
  identity-server/hosts/EntityFramework-dotnet9/Host.EntityFramework.dotnet9.csproj
  identity-server/hosts/EntityFramework/Host.EntityFramework.csproj
  identity-server/hosts/main/Host.Main.csproj
  identity-server/identity-server.slnf
  identity-server/migrations/AspNetIdentityDb/AspNetIdentityDb.csproj
  identity-server/migrations/IdentityServerDb/IdentityServerDb.csproj
  products.slnx
Labels: internal, area/products/identity-server, area/products/bff

#1996 Add Solution File to BFF Blazor Template
  bff/templates/src/BffBlazorAutoRenderMode/.template.config/dotnetcli.host.json
  bff/templates/src/BffBlazorAutoRenderMode/.template.config/template.json
  bff/templates/src/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode.Client/BffBlazorAutoRenderMode.Client.csproj
  bff/templates/src/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode.sln
  bff/templates/src/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode.csproj
  bff/templates/src/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode/Components/App.razor
  bff/templates/src/BffBlazorAutoRenderMode/BffBlazorAutoRenderMode/Program.cs
Labels: area/products/templates

#2018 Collapsed EF integration tests into main integration test project
  .github/workflow-gen/Program.cs
  .github/workflows/identity-server-ci.yml
  identity-server/identity-server.slnf
  identity-server/test/EntityFramework.IntegrationTests/EntityFramework.IntegrationTests.csproj
  identity-server/test/EntityFramework.IntegrationTests/FakeLogger.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/DI/DITests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/DatabaseProviderBuilder.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/DatabaseProviderFixture.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/IntegrationTest.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Services/CorsPolicyServiceTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/DbContexts/ClientDbContextTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/MockOperationalStoreNotification.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/Stores/ClientStoreTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/Stores/DeviceFlowStoreTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/Stores/IdentityProviderStoreTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/Stores/PersistedGrantStoreTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/Stores/ResourceStoreTests.cs
  identity-server/test/IdentityServer.IntegrationTests/EntityFramework/Storage/TokenCleanup/TokenCleanupTests.cs
  identity-server/test/IdentityServer.IntegrationTests/IdentityServer.IntegrationTests.csproj
  products.slnx
Labels: internal, area/products/identity-server

#2007 Add and test unhandled exception logging filter logic
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/LoggingOptions.cs
  identity-server/src/IdentityServer/Hosting/IdentityServerMiddleware.cs
  identity-server/test/IdentityServer.UnitTests/Logging/LoggingOptionsTests.cs
Labels: area/products/identity-server

#2015 Microsoft.AspnetCore.Authentication.Google -> Use demo.duendesoftware.com
  identity-server/templates/src/IdentityServerAspNetIdentity/HostingExtensions.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/IdentityServerAspNetIdentity.csproj
  identity-server/templates/src/IdentityServerEntityFramework/HostingExtensions.cs
  identity-server/templates/src/IdentityServerEntityFramework/IdentityServerEntityFramework.csproj
  identity-server/templates/src/IdentityServerInMem/HostingExtensions.cs
  identity-server/templates/src/IdentityServerInMem/IdentityServerInMem.csproj
Labels: internal, area/products/identity-server, area/products/templates, impact/non-breaking

#2013 Fix tabs -> spaces in several csproj's
  identity-server/clients/src/ConsoleDcrClient/ConsoleDcrClient.csproj
  identity-server/hosts/AspNetIdentity/Host.AspNetIdentity.csproj
  identity-server/hosts/Configuration/Host.Configuration.csproj
  identity-server/hosts/EntityFramework-dotnet9/Host.EntityFramework.dotnet9.csproj
  identity-server/hosts/EntityFramework/Host.EntityFramework.csproj
  identity-server/hosts/main/Host.Main.csproj
  identity-server/src/EntityFramework.Storage/Duende.IdentityServer.EntityFramework.Storage.csproj
Labels: area/products/identity-server

#2016 Use duende.link for trial mode docs
  identity-server/src/IdentityServer/Licensing/V2/Log.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/LicenseTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/ProtocolRequestCounterTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2022 Auth Scheme Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/AuthSchemeInfoDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/AssemblyInfoDiagnosticEntryTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/AuthSchemeInfoDiagnosticEntryTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/DiagnosticEntryTestHelper.cs
Labels: area/products/identity-server

#2027 Nit: Fix some typos
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeInteractionResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultConsentService.cs
  identity-server/src/IdentityServer/Services/IDeviceFlowInteractionService.cs
  identity-server/src/IdentityServer/Services/IUserSession.cs
  identity-server/src/IdentityServer/Stores/Default/DefaultAuthorizationCodeStore.cs
  identity-server/src/IdentityServer/Stores/Default/DefaultUserConsentStore.cs
Labels: area/products/identity-server, impact/non-breaking

#2026 Reworked supported algorithm options
  Directory.Packages.props
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/DPoPOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Validation/Default/JwtRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/src/IdentityServer/Validation/Models/ValidatedRequest.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/JwtRequestAuthorizeTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests_dpop_signing_algs_supported.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests_token_endpoint_auth_signing_algs_supported.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpoint_request_object_auth_signing_algs_supported.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AccessTokenValidation.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: area/products/identity-server

#2028 Aspire Quality of Life improvements
  identity-server/aspire/AppHost/AppHostConfiguration.cs
  identity-server/aspire/AppHost/Program.cs
  identity-server/aspire/AppHost/appsettings.json
Labels: internal, area/products/identity-server, impact/non-breaking

#2023 Registered Implementations Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/RegisteredImplementationsDiagnosticEntry.cs
  identity-server/src/IdentityServer/Licensing/V2/ServiceCollectionAccessor.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/RegisteredImplementationsDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2024 IdentityServerOptions Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/IdentityServerOptionsDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/IdentityServerOptionsDiagnosticEntryTests.cs
Labels: area/products/identity-server

#2025 Data Protection Diagnostic Entry
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/DataProtectionDiagnosticEntry.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/DataProtectionDiagnosticEntryTests.cs
Labels: area/products/identity-server
