Repository DuendeSoftware/products, pull requests merged in 2025-01, with the labels that each got.

#1708 phase out fluent assertions in favor of shouldly
  bff/test/Duende.Bff.EntityFramework.Tests/Duende.Bff.EntityFramework.Tests.csproj
  bff/test/Duende.Bff.EntityFramework.Tests/UserSessionStoreTests.cs
  bff/test/Duende.Bff.Tests/Duende.Bff.Tests.csproj
  bff/test/Duende.Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/BackchannelLogoutEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LogoutEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/ManagementBasePathTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/UserEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/YarpRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/GenericHostTests.cs
  bff/test/Duende.Bff.Tests/Headers/ApiAndBffUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/ApiUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/General.cs
  bff/test/Duende.Bff.Tests/SessionManagement/CookieSlidingTests.cs
  bff/test/Duende.Bff.Tests/SessionManagement/RevokeRefreshTokenTests.cs
  bff/test/Duende.Bff.Tests/SessionManagement/ServerSideTicketStoreTests.cs
  bff/test/Duende.Bff.Tests/TestFramework/GenericHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHostUsingResourceNamedTokens.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffHost.cs
Labels: area/bff

#1710 Bff add aspire to samples
  bff/Duende.Bff.sln
  bff/Duende.Bff.sln.DotSettings
  bff/migrations/UserSessionDb/UserSessionDb.csproj
  bff/samples/Apis/Api.DPoP/Api.DPoP.csproj
  bff/samples/Apis/Api.DPoP/Extensions.cs
  bff/samples/Apis/Api.DPoP/Program.cs
  bff/samples/Apis/Api.DPoP/Startup.cs
  bff/samples/Apis/Api.Isolated/Api.Isolated.csproj
  bff/samples/Apis/Api.Isolated/Extensions.cs
  bff/samples/Apis/Api.Isolated/Program.cs
  bff/samples/Apis/Api/Api.csproj
  bff/samples/Apis/Api/Extensions.cs
  bff/samples/Apis/Api/Program.cs
  bff/samples/Apis/Api/Startup.cs
  bff/samples/Bff.DPoP/Bff.DPoP.csproj
  bff/samples/Bff.DPoP/Extensions.cs
  bff/samples/Bff.DPoP/Program.cs
  bff/samples/Bff.EF/Bff.EF.csproj
  bff/samples/Bff.EF/Extensions.cs
  bff/samples/Bff.EF/Program.cs
  bff/samples/Bff/Bff.csproj
  bff/samples/Bff/Extensions.cs
  bff/samples/Bff/Program.cs
  bff/samples/Blazor/PerComponent/PerComponent.Client/PerComponent.Client.csproj
  bff/samples/Blazor/PerComponent/PerComponent/PerComponent.csproj
  bff/samples/Blazor/PerComponent/PerComponent/Properties/launchSettings.json
  bff/samples/Blazor/WebAssembly/WebAssembly.Client/WebAssembly.Client.csproj
  bff/samples/Blazor/WebAssembly/WebAssembly/Properties/launchSettings.json
  bff/samples/Blazor/WebAssembly/WebAssembly/WebAssembly.csproj
  bff/samples/Hosts.AppHost/Hosts.AppHost.csproj
  bff/samples/Hosts.AppHost/Hosts.AppHost.net8.0.v3.ncrunchproject
  bff/samples/Hosts.AppHost/Hosts.AppHost.net9.0.v3.ncrunchproject
  bff/samples/Hosts.AppHost/Program.cs
  bff/samples/Hosts.AppHost/Properties/launchSettings.json
  bff/samples/Hosts.AppHost/appsettings.Development.json
  bff/samples/Hosts.AppHost/appsettings.json
  bff/samples/Hosts.ServiceDefaults/Extensions.cs
  bff/samples/Hosts.ServiceDefaults/Hosts.ServiceDefaults.csproj
  bff/samples/IdentityServer/Config.cs
  bff/samples/IdentityServer/IdentityServer.csproj
  bff/samples/IdentityServer/Program.cs
Labels: area/bff

#1719 First set of tests for the BFF using aspnet Aspire
  .github/workflows/bff-ci.yml
  bff/Duende.Bff.sln
  bff/build/Program.cs
  bff/migrations/UserSessionDb/UserSessionDb.csproj
  bff/samples/Apis/Api.DPoP/Api.DPoP.csproj
  bff/samples/Apis/Api.Isolated/Api.Isolated.csproj
  bff/samples/Apis/Api/Api.csproj
  bff/samples/Bff.DPoP/Bff.DPoP.csproj
  bff/samples/Bff.EF/Bff.EF.csproj
  bff/samples/Bff/Bff.csproj
  bff/samples/Bff/Extensions.cs
  bff/samples/Bff/Program.cs
  bff/samples/Blazor/PerComponent/PerComponent.Client/PerComponent.Client.csproj
  bff/samples/Blazor/PerComponent/PerComponent/PerComponent.csproj
  bff/samples/Blazor/WebAssembly/WebAssembly.Client/WebAssembly.Client.csproj
  bff/samples/Blazor/WebAssembly/WebAssembly/WebAssembly.csproj
  bff/samples/Hosts.AppHost/Hosts.AppHost.csproj
  bff/samples/Hosts.AppHost/Hosts.AppHost.v3.ncrunchproject
  bff/samples/Hosts.AppHost/Program.cs
  bff/samples/Hosts.ServiceDefaults/Hosts.ServiceDefaults.csproj
  bff/samples/Hosts.Tests/BffTests.cs
  bff/samples/Hosts.Tests/Hosts.Tests.csproj
  bff/samples/Hosts.Tests/Hosts.Tests.v3.ncrunchproject
  bff/samples/Hosts.Tests/TestInfra/AppHostFixture.cs
  bff/samples/Hosts.Tests/TestInfra/AutoFollowRedirectHandler.cs
  bff/samples/Hosts.Tests/TestInfra/BffClient.cs
  bff/samples/Hosts.Tests/TestInfra/CookieHandler.cs
  bff/samples/Hosts.Tests/TestInfra/DelegateDisposable.cs
  bff/samples/Hosts.Tests/TestInfra/DelegateTextWriter.cs
  bff/samples/Hosts.Tests/TestInfra/IntegrationTestBase.cs
  bff/samples/Hosts.Tests/TestInfra/OutboundRequestLoggingHandler.cs
  bff/samples/Hosts.Tests/TestInfra/WriteTestOutput.cs
  bff/samples/Hosts.Tests/readme.md
  bff/samples/IdentityServer/Config.cs
  bff/samples/IdentityServer/Extensions.cs
  bff/samples/IdentityServer/IdentityServer.csproj
  bff/samples/IdentityServer/ServiceDiscoveringClientStore.cs
Labels: area/bff

#1726 chore(is): merge 7.1.0 forward to main
  identity-server/Directory.Build.props
Labels: area/identity-server

#1673 Remove leftover client reference in solution
  identity-server/Duende.IdentityServer.Clients.sln
Labels: internal

#1730 Fix XML documentation syntax errors
  identity-server/hosts/AspNetIdentity/Pages/Telemetry.cs
  identity-server/hosts/Configuration/CustomClientRegistrationProcessor.cs
  identity-server/hosts/Configuration/Pages/Telemetry.cs
  identity-server/hosts/EntityFramework/Pages/Telemetry.cs
  identity-server/hosts/main/Pages/Telemetry.cs
  templates/src/IdentityServerAspNetIdentity/Pages/Telemetry.cs
  templates/src/IdentityServerEntityFramework/Pages/Telemetry.cs
  templates/src/IdentityServerInMem/Pages/Telemetry.cs
Labels: area/identity-server, area/templates

#1680 Avoid a string allocation in IsUri
  identity-server/src/IdentityServer/Extensions/StringsExtensions.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/StringExtensionsTests.cs
Labels: area/identity-server, source/community

#1679 enable nullable in StringsExtensions
  identity-server/src/IdentityServer/Extensions/StringsExtensions.cs
Labels: area/identity-server, source/community

#1675 ThrowIfNullOrWhiteSpace for type in IdentityProvider
  identity-server/src/Storage/Models/IdentityProvider.cs
Labels: area/identity-server, source/community

#1674 cleanup Resources
  identity-server/src/Storage/Models/Resources.cs
Labels: area/identity-server, source/community

#1735 tests write output via ITestOutputHelper
  bff/test/Duende.Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/BackchannelLogoutEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LogoutEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/ManagementBasePathTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/UserEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/YarpRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/GenericHostTests.cs
  bff/test/Duende.Bff.Tests/Headers/ApiAndBffUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/ApiUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/General.cs
  bff/test/Duende.Bff.Tests/SessionManagement/CookieSlidingTests.cs
  bff/test/Duende.Bff.Tests/SessionManagement/RevokeRefreshTokenTests.cs
  bff/test/Duende.Bff.Tests/SessionManagement/ServerSideTicketStoreTests.cs
  bff/test/Duende.Bff.Tests/TestFramework/GenericHost.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestLoggerProvider.cs
  bff/test/Duende.Bff.Tests/TestHosts/ApiHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHostUsingResourceNamedTokens.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffIntegrationTestBase.cs
  bff/test/Duende.Bff.Tests/TestHosts/IdentityServerHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffIntegrationTestBase.cs
Labels: area/bff
