Repository DuendeSoftware/products, pull requests merged in 2025-02, with the labels that each got.

#1740 Bff nullability in unit tests
  bff/samples/Hosts.Tests/TestInfra/AppHostFixture.cs
  bff/test/Duende.Bff.Blazor.Client.UnitTests/Duende.Bff.Blazor.Client.UnitTests.csproj
  bff/test/Duende.Bff.Blazor.UnitTests/Duende.Bff.Blazor.UnitTests.csproj
  bff/test/Duende.Bff.EntityFramework.Tests/Duende.Bff.EntityFramework.Tests.csproj
  bff/test/Duende.Bff.Tests/Duende.Bff.Tests.csproj
  bff/test/Duende.Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/LogoutEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/UserEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/YarpRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Headers/ApiAndBffUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/ApiUseForwardedHeaders.cs
  bff/test/Duende.Bff.Tests/Headers/General.cs
  bff/test/Duende.Bff.Tests/SessionManagement/CookieSlidingTests.cs
  bff/test/Duende.Bff.Tests/SessionManagement/ServerSideTicketStoreTests.cs
  bff/test/Duende.Bff.Tests/TestFramework/ApiResponse.cs
  bff/test/Duende.Bff.Tests/TestFramework/GenericHost.cs
  bff/test/Duende.Bff.Tests/TestFramework/MockExternalAuthenticationHandler.cs
  bff/test/Duende.Bff.Tests/TestFramework/MockSessionRevocationService.cs
  bff/test/Duende.Bff.Tests/TestFramework/Records.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestBrowserClient.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestLoggerProvider.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestSerializerOptions.cs
  bff/test/Duende.Bff.Tests/TestHosts/ApiHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHostUsingResourceNamedTokens.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffIntegrationTestBase.cs
  bff/test/Duende.Bff.Tests/TestHosts/IdentityServerHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffIntegrationTestBase.cs
Labels: area/bff

#1742 fix blazor samples
  bff/.editorconfig
  bff/samples/Bff/Extensions.cs
  bff/samples/Blazor/PerComponent/PerComponent.Client/PerComponent.Client.csproj
  bff/samples/Blazor/WebAssembly/WebAssembly.Client/Program.cs
  bff/samples/Hosts.AppHost/Hosts.AppHost.csproj
  bff/samples/Hosts.AppHost/Program.cs
  bff/samples/Hosts.ServiceDefaults/AppHostServices.cs
  bff/samples/Hosts.Tests/TestInfra/AppHostFixture.cs
  bff/samples/IdentityServer/ServiceDiscoveringClientStore.cs
Labels: internal, area/bff

#1752 Add a workflow that checks that a PR is following our practices for labels, assignee etc.
  .github/workflows/practices-check-pr.yml
Labels: area/all, github_actions, impact/non-breaking

#1751 BFF - fix occasionally failing dpop test
  bff/test/Duende.Bff.Tests/Endpoints/DpopRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/RemoteEndpointTests.cs
Labels: area/bff

#1748 Add cancellation token support for ticket retrieval
  bff/src/Duende.Bff/SessionManagement/Revocation/SessionRevocationService.cs
Labels: area/bff, impact/non-breaking

#1754 Add CODEOWERS definition
  .github/CODEOWNERS 
Labels: area/all, impact/non-breaking

#1745 move structured logging into aspire
  bff/samples/Apis/Api.DPoP/Api.DPoP.csproj
  bff/samples/Apis/Api.DPoP/Extensions.cs
  bff/samples/Apis/Api.DPoP/Program.cs
  bff/samples/Apis/Api.Isolated/Api.Isolated.csproj
  bff/samples/Apis/Api.Isolated/Extensions.cs
  bff/samples/Apis/Api.Isolated/Program.cs
  bff/samples/Apis/Api/Api.csproj
  bff/samples/Apis/Api/Extensions.cs
  bff/samples/Apis/Api/Program.cs
  bff/samples/Bff.DPoP/Bff.DPoP.csproj
  bff/samples/Bff.DPoP/Extensions.cs
  bff/samples/Bff.DPoP/Program.cs
  bff/samples/Bff.EF/Bff.EF.csproj
  bff/samples/Bff.EF/Extensions.cs
  bff/samples/Bff.EF/Program.cs
  bff/samples/Bff/Bff.csproj
  bff/samples/Bff/Extensions.cs
  bff/samples/Bff/Program.cs
  bff/samples/Bff/ServiceProviderAccessor.cs
  bff/samples/Blazor/PerComponent/PerComponent/PerComponent.csproj
  bff/samples/Blazor/PerComponent/PerComponent/Program.cs
  bff/samples/Blazor/WebAssembly/WebAssembly/Program.cs
  bff/samples/Blazor/WebAssembly/WebAssembly/WebAssembly.csproj
  bff/samples/Hosts.AppHost/Hosts.AppHost.csproj
  bff/samples/Hosts.ServiceDefaults/Extensions.cs
  bff/samples/Hosts.Tests/Hosts.Tests.csproj
  bff/samples/Hosts.Tests/TestInfra/AppHostFixture.cs
  bff/samples/IdentityServer/Extensions.cs
  bff/samples/IdentityServer/IdentityServer.csproj
  bff/samples/IdentityServer/Program.cs
  bff/src/Duende.Bff.Blazor.Client/Duende.Bff.Blazor.Client.csproj
  bff/test/Duende.Bff.Tests/TestFramework/TestLoggerProvider.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffIntegrationTestBase.cs
  bff/test/Duende.Bff.Tests/TestHosts/OutputWritingTestBase.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffIntegrationTestBase.cs
Labels: internal, area/bff

#1734 Bff yarp proxy improvements
  bff/docs/upgrade-guide.md
  bff/samples/Hosts.Tests/TestInfra/BffClient.cs
  bff/samples/Hosts.Tests/TestInfra/CloningHttpMessageHandler.cs
  bff/samples/IdentityServer/Extensions.cs
  bff/samples/IdentityServer/ServiceDiscoveringClientStore.cs
  bff/src/Duende.Bff.Blazor.Client/Duende.Bff.Blazor.Client.csproj
  bff/src/Duende.Bff.Blazor/Duende.Bff.Blazor.csproj
  bff/src/Duende.Bff.EntityFramework/Duende.Bff.EntityFramework.csproj
  bff/src/Duende.Bff.Yarp/AccessTokenRequestTransform.cs
  bff/src/Duende.Bff.Yarp/AccessTokenTransformProvider.cs
  bff/src/Duende.Bff.Yarp/ActivityPropagationHandler.cs
  bff/src/Duende.Bff.Yarp/AntiforgeryMiddleware.cs
  bff/src/Duende.Bff.Yarp/BffBuilderExtensions.cs
  bff/src/Duende.Bff.Yarp/BffYarpEndpointRouteBuilderExtensions.cs
  bff/src/Duende.Bff.Yarp/DefaultBffYarpTransformerBuilders.cs
  bff/src/Duende.Bff.Yarp/DefaultHttpMessageInvokerFactory.cs
  bff/src/Duende.Bff.Yarp/DefaultHttpTransformerFactory.cs
  bff/src/Duende.Bff.Yarp/IHttpMessageInvokerFactory.cs
  bff/src/Duende.Bff.Yarp/IHttpTransformerFactory.cs
  bff/src/Duende.Bff.Yarp/ProxyAppBuilderExtensions.cs
  bff/src/Duende.Bff.Yarp/ProxyConfigExtensions.cs
  bff/src/Duende.Bff.Yarp/RemoteApiEndpoint.cs
  bff/src/Duende.Bff.Yarp/ReverseProxyBuilderExtensions.cs
  bff/src/Duende.Bff.Yarp/ReverseProxyEndpointConventionBuilderExtensions.cs
  bff/src/Duende.Bff.Yarp/YarpTransformExtensions.cs
  bff/src/Duende.Bff/Configuration/BffEndpointRouteBuilderExtensions.cs
  bff/src/Duende.Bff/EndpointServices/Diagnostics/DefaultDiagnosticsService.cs
  bff/src/Duende.Bff/EndpointServices/Diagnostics/IDiagnosticsService.cs
  bff/src/Duende.Bff/General/AccessTokenRetrievalContext.cs
  bff/test/Duende.Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/YarpRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/IAccessTokenRetriever_Extensibility_tests.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestBrowserClient.cs
  bff/test/Duende.Bff.Tests/TestFramework/TestSerializerOptions.cs
  bff/test/Duende.Bff.Tests/TestHosts/ApiHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/BffHostUsingResourceNamedTokens.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffHost.cs
  bff/test/Duende.Bff.Tests/TestHosts/YarpBffIntegrationTestBase.cs
Labels: impact/breaking, area/bff

#1762 Update support links to developer community
  .github/ISSUE_TEMPLATE/config.yml
  bff/README.md
  bff/src/Duende.Bff.EntityFramework/README.md
  bff/src/Duende.Bff.Yarp/README.md
  bff/src/Duende.Bff/README.md
  identity-server/README.md
  identity-server/src/AspNetIdentity/README.md
  identity-server/src/Configuration.EntityFramework/README.md
  identity-server/src/Configuration/README.md
  identity-server/src/EntityFramework.Storage/README.md
  identity-server/src/EntityFramework/README.md
  identity-server/src/IdentityServer/README.md
  identity-server/src/Storage/README.md
Labels: internal

#1764 build - build with the correct security context
  .github/workflow-gen/Program.cs
  .github/workflows/bff-ci.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
Labels: area/all, impact/non-breaking

#1757 Persistent Cookies, Server Side Sessions, and Session Lifetime Coordination Fix
  identity-server/src/IdentityServer/Configuration/DependencyInjection/ConfigureInternalCookieOptions.cs
  identity-server/src/IdentityServer/IdentityServerConstants.cs
  identity-server/src/IdentityServer/Services/Default/DefaultSessionCoordinationService.cs
  identity-server/src/IdentityServer/Stores/Default/ServerSideSessionCookieEvents.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/ServerSideSessionTests.cs
  identity-server/test/IdentityServer.UnitTests/Stores/Default/ServerSideSessionCookieEventsTests.cs
Labels: area/identity-server

#1767 Switch to TargetFrameworks for multi-framework support
  identity-server/migrations/AspNetIdentityDb/AspNetIdentityDb.csproj
  identity-server/migrations/IdentityServerDb/IdentityServerDb.csproj
Labels: area/identity-server

#1759 add logout url claim to session storage
  bff/Duende.Bff.sln.DotSettings
  bff/samples/Bff.EF/.gitignore
  bff/samples/Bff/ServiceProviderAccessor.cs
  bff/samples/Blazor/PerComponent/PerComponent.Client/Components/LoginDisplay.razor
  bff/src/Duende.Bff.Blazor.Client/BffClientAuthenticationStateProvider.cs
  bff/src/Duende.Bff.Blazor/BffServerAuthenticationStateProvider.cs
  bff/src/Duende.Bff/ClaimRecord.cs
  bff/src/Duende.Bff/EndpointServices/User/DefaultUserService.cs
  bff/src/Duende.Bff/EndpointServices/User/LogoutUrlBuilder.cs
  bff/test/Duende.Bff.Tests/Endpoints/DpopRemoteEndpointTests.cs
  bff/test/Duende.Bff.Tests/Endpoints/Management/UserEndpointTests.cs
  bff/test/Duende.Bff.Tests/TestHosts/OutputWritingTestBase.cs
Labels: area/bff, impact/non-breaking

#1769 Handle case-insensitive JSON claim value types.
  identity-server/src/IdentityServer/Extensions/ClaimsExtensions.cs
  identity-server/src/IdentityServer/Extensions/TokenExtensions.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/ApiResourceSigningAlgorithmSelectionTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/ClaimsExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/TokenExtensionsTests.cs
Labels: area/identity-server

#1777 Fix builds of identityserver client
  Directory.Packages.props
  identity-server/Duende.IdentityServer.Clients.sln
  identity-server/clients/src/APIs/DPoPApi/DPoPApi.csproj
  identity-server/clients/src/APIs/ResourceBasedApi/ResourceBasedApi.csproj
  identity-server/clients/src/APIs/SimpleApi/SimpleApi.csproj
  identity-server/clients/src/ConsoleCibaClient/ConsoleCibaClient.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlow/ConsoleClientCredentialsFlow.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowCallingIdentityServerApi/ConsoleClientCredentialsFlowCallingIdentityServerApi.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowDPoP/ConsoleClientCredentialsFlowDPoP.csproj
  identity-server/clients/src/ConsoleClientCredentialsFlowPostBody/ConsoleClientCredentialsFlowPostBody.csproj
  identity-server/clients/src/ConsoleCode/ConsoleCode.csproj
  identity-server/clients/src/ConsoleCode/Program.cs
  identity-server/clients/src/ConsoleCustomGrant/ConsoleExtensionGrant.csproj
  identity-server/clients/src/ConsoleDcrClient/ConsoleDcrClient.csproj
  identity-server/clients/src/ConsoleDeviceFlow/ConsoleDeviceFlow.csproj
  identity-server/clients/src/ConsoleEphemeralMtlsClient/ConsoleEphemeralMtlsClient.csproj
  identity-server/clients/src/ConsoleIntrospectionClient/ConsoleIntrospectionClient.csproj
  identity-server/clients/src/ConsoleMTLSClient/ConsoleMTLSClient.csproj
  identity-server/clients/src/ConsoleParameterizedScopeClient/ConsoleParameterizedScopeClient.csproj
  identity-server/clients/src/ConsolePrivateKeyJwtClient/ConsolePrivateKeyJwtClient.csproj
  identity-server/clients/src/ConsoleResourceIndicators/ConsoleResourceIndicators.csproj
  identity-server/clients/src/ConsoleResourceIndicators/SystemBrowser.cs
  identity-server/clients/src/ConsoleResourceOwnerFlow/ConsoleResourceOwnerFlow.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowPublic/ConsoleResourceOwnerFlowPublic.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowReference/ConsoleResourceOwnerFlowReference.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowRefreshToken/ConsoleResourceOwnerFlowRefreshToken.csproj
  identity-server/clients/src/ConsoleResourceOwnerFlowUserInfo/ConsoleResourceOwnerFlowUserInfo.csproj
  identity-server/clients/src/ConsoleScopesResources/ConsoleScopesResources.csproj
  identity-server/clients/src/JsOidc/JsOidc.csproj
  identity-server/clients/src/MvcAutomaticTokenManagement/MvcAutomaticTokenManagement.csproj
  identity-server/clients/src/MvcCode/MvcCode.csproj
  identity-server/clients/src/MvcDPoP/MvcDPoP.csproj
  identity-server/clients/src/MvcHybridBackChannel/MvcHybridBackChannel.csproj
  identity-server/clients/src/MvcJarJwt/MvcJarJwt.csproj
  identity-server/clients/src/MvcJarUriJwt/MvcJarUriJwt.csproj
Labels: area/identity-server

#1772 Remove duplicate 'add' in AddEntityFrameworkServerSideSessionsServices
  .github/workflows/bff-ci.yml
  .github/workflows/identity-server-ci.yml
  bff/docs/upgrade-guide.md
  bff/src/Bff.EntityFramework/Configuration/BffBuilderExtensions.cs
Labels: impact/breaking, area/bff

#1775 Introducing one big solution and solution filters
  .github/workflow-gen/Program.cs
  .github/workflow-gen/workflow-gen.sln
  .github/workflows/bff-ci.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
  bff/bff.sln
  bff/bff.slnf
  bff/src/Bff.EntityFramework/Bff.EntityFramework.csproj
  identity-server/Duende.IdentityServer.Clients.sln
  identity-server/Duende.IdentityServer.CodeQL.sln
  identity-server/Duende.IdentityServer.sln
  identity-server/clients/identity-server-clients.slnf
  identity-server/identity-server.slnf
  identity-server/perf/PerfTests.sln
  identity-server/perf/identity-server-perf.slnf
  products.sln
  templates/Duende.IdentityServer.Templates.sln
  templates/templates.slnf
Labels: internal, area/all, impact/non-breaking

#1773 Adding Missing Test Attributes
  identity-server/test/IdentityServer.IntegrationTests/Hosting/ServerSideSessionTests.cs
Labels: area/identity-server

#1783 Update in code links to v7
  identity-server/hosts/AspNetIdentity/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/Configuration/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/EntityFramework/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/main/Pages/ServerSideSessions/Index.cshtml
  templates/src/IdentityServerAspNetIdentity/HostingExtensions.cs
  templates/src/IdentityServerAspNetIdentity/Pages/ServerSideSessions/Index.cshtml
  templates/src/IdentityServerEmpty/HostingExtensions.cs
  templates/src/IdentityServerEntityFramework/Pages/ServerSideSessions/Index.cshtml
  templates/src/IdentityServerInMem/HostingExtensions.cs
  templates/src/IdentityServerInMem/Pages/ServerSideSessions/Index.cshtml
Labels: area/identity-server

#1781 Filter client credentials in ToOptimizedFullDictionary method
  identity-server/src/IdentityServer/Extensions/ValidatedAuthorizeRequestExtensions.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/ValidatedAuthorizeRequestExtensionsTests.cs
Labels: area/identity-server

#1782 bff - Add local client
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly.Client/Pages/Weather.razor
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly.Client/Program.cs
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly.Client/WeatherForecast.cs
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly.Client/WeatherHttpClient.cs
  bff/src/Bff.Blazor.Client/ServiceCollectionExtensions.cs
  bff/test/Bff.Blazor.Client.UnitTests/AntiforgeryHandlerTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/ServiceCollectionExtensionsTests.cs
  products.v3.ncrunchsolution
Labels: area/bff, impact/non-breaking

#1784 Ensure session lifetime coordination is invoked when a session expires
  identity-server/src/IdentityServer/Constants.cs
  identity-server/src/IdentityServer/Extensions/HttpContextExtensions.cs
  identity-server/src/IdentityServer/Hosting/IdentityServerMiddleware.cs
  identity-server/src/IdentityServer/Stores/Default/ServerSideTicketStore.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/ServerSideSessionTests.cs
Labels: area/identity-server, impact/non-breaking

#1779 Some fixes to get the products mono solution compiling.
  Directory.Packages.props
  identity-server/clients/src/WindowsConsoleSystemBrowser/Program.cs
  identity-server/clients/src/WindowsConsoleSystemBrowser/RegistryConfig.cs
  identity-server/clients/src/WindowsConsoleSystemBrowser/WindowsConsoleSystemBrowser.csproj
  identity-server/perf/IdentityServer.PerfTests/IdentityServer.PerfTests.csproj
  identity-server/test/IdentityServer.IntegrationTests/Hosting/ServerSideSessionTests.cs
Labels: area/all, dependencies, impact/non-breaking

#1795 Fix misplaced semicolons in lambda expressions
  bff/hosts/Hosts.IdentityServer/Pages/Account/Login/Index.cshtml.cs
  bff/src/Bff/EndpointServices/SilentLogin/PostConfigureOidcOptionsForSilentLogin.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureApplicationCookieRevokeRefreshToken.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureApplicationValidatePrincipal.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureSlidingExpirationCheck.cs
  templates/src/IdentityServerEntityFramework/Pages/Account/Login/Index.cshtml.cs
  templates/src/IdentityServerInMem/Pages/Account/Login/Index.cshtml.cs
Labels: impact/non-breaking

#1796 Ensure Client Secret is Required for Clients with ClientCredentials Grant
  identity-server/src/IdentityServer/Validation/Default/DefaultClientConfigurationValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Clients/ClientCredentialsClient.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPTokenEndpointTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/ClientConfigurationValidation.cs
Labels: area/identity-server

#1799 Adjust release process to align with foss
  .github/workflow-gen/Program.cs
  .github/workflows/bff-ci.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
  .gitignore
Labels: area/all, impact/non-breaking

#1800 Generate CodeQL workflows per product
  .github/workflow-gen/Program.cs
  .github/workflows/bff-codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/identity-server-codeql-analysis.yml
Labels: area/all

#1802 Manual CodeQL Build Commands
  .github/workflow-gen/Program.cs
  .github/workflows/bff-codeql-analysis.yml
  .github/workflows/identity-server-codeql-analysis.yml
Labels: area/identity-server, area/bff

#1803 Signout on refresh token expire
  bff/hosts/Hosts.Bff.InMemory/ImpersonationAccessTokenRetriever.cs
  bff/hosts/Hosts.IdentityServer/ServiceDiscoveringClientStore.cs
  bff/src/Bff.Yarp/AccessTokenRequestTransform.cs
  bff/src/Bff.Yarp/AccessTokenTransformProvider.cs
  bff/src/Bff.Yarp/YarpTransformExtensions.cs
  bff/src/Bff/Configuration/BffOptions.cs
  bff/src/Bff/Extensions/HttpContextExtensions.cs
  bff/src/Bff/General/AccessTokenRetrievalError.cs
  bff/src/Bff/General/Log.cs
  bff/test/Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Bff.Tests/TestHosts/ApiHost.cs
  bff/test/Bff.Tests/TestHosts/BffHost.cs
  bff/test/Bff.Tests/TestHosts/FailureAccessTokenRetriever.cs
  bff/test/Hosts.Tests/BffBlazorWebAssemblyTests.cs
  bff/test/Hosts.Tests/BffTests.cs
  bff/test/Hosts.Tests/BlazorPerComponentTests.cs
Labels: area/bff, impact/non-breaking

#1808 Simplify Blazor WASM authentication state provider.
  bff/src/Bff.Blazor.Client/BffClientAuthenticationStateProvider.cs
  bff/src/Bff.Blazor.Client/Constants.cs
  bff/src/Bff.Blazor.Client/Internals/FetchUserService.cs
  bff/src/Bff.Blazor.Client/Internals/GetUserService.cs
  bff/src/Bff.Blazor.Client/Internals/IGetUserService.cs
  bff/src/Bff.Blazor.Client/Internals/IPersistentUserService.cs
  bff/src/Bff.Blazor.Client/Internals/PersistentUserService.cs
  bff/src/Bff.Blazor.Client/ServiceCollectionExtensions.cs
  bff/test/Bff.Blazor.Client.UnitTests/AntiforgeryHandlerTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/BffClientAuthenticationStateProviderTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/FetchUserServiceTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/GetUserServiceTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/ServiceCollectionExtensionsTests.cs
Labels: area/bff

#1804 Bump Duende.AccessTokenManagement package reference
  Directory.Packages.props
Labels: area/all, dependencies

#1809 fix double quotes in release build
  .github/workflow-gen/Program.cs
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-release.yml
  .github/workflows/templates-release.yml
Labels: area/all

#1812 fix casing of bff.blazor packages
  bff/src/Bff.Blazor.Client/Bff.Blazor.Client.csproj
  bff/src/Bff.Blazor/Bff.Blazor.csproj
  bff/src/Bff.EntityFramework/Bff.EntityFramework.csproj
Labels: area/bff

#1810 Fixing issue when refresh token times out
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent.Client/Components/CallApi.razor
  bff/hosts/Hosts.IdentityServer/ServiceDiscoveringClientStore.cs
  bff/src/Bff.Blazor/ServerSideTokenStore.cs
  bff/src/Bff/EndpointServices/Logout/DefaultLogoutService.cs
  bff/test/Bff.Tests/Endpoints/Management/LogoutEndpointTests.cs
Labels: area/bff

#1811 check license in blazor
  bff/src/Bff.Blazor/Bff.Blazor.csproj
  bff/src/Bff.Blazor/BffServerAuthenticationStateProvider.cs
Labels: area/bff, impact/non-breaking
