Repository DuendeSoftware/products, pull requests merged in 2025-03, with the labels that each got.

#1816 The `nuget.config` file has been completely removed.
  nuget.config
Labels: area/all, impact/non-breaking

#1817 Run job if event is workflow dispatch
  .github/workflow-gen/Program.cs
  .github/workflows/bff-ci.yml
  .github/workflows/identity-server-ci.yml
Labels: github_actions

#1818 Revert Change Causing Unnecessary Cookie Re-Issue
  src/IdentityServer/Services/Default/DefaultUserSession.cs
Labels: area/identity-server

#1820 Merge 7.1.1 Fixes Forward to Main
  identity-server/src/IdentityServer/Services/Default/DefaultUserSession.cs
Labels: area/identity-server

#1821 Backported workflow changes from main
  .github/workflow-gen/Program.cs
  .github/workflow-gen/Properties/launchSettings.json
  .github/workflow-gen/workflow-gen.csproj
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
Labels: area/identity-server

#1822 Removing redundant tag step in release workflow
  .github/workflow-gen/Program.cs
  .github/workflows/identity-server-release.yml
Labels: area/identity-server

#1807 Unify EF Integration Tests
  identity-server/identity-server.slnf
  identity-server/test/EntityFramework.IntegrationTests/DatabaseProviderBuilder.cs
  identity-server/test/EntityFramework.IntegrationTests/EntityFramework.IntegrationTests.csproj
  identity-server/test/EntityFramework.IntegrationTests/Storage/DbContexts/ClientDbContextTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/MockOperationalStoreNotification.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ClientStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/DeviceFlowStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/IdentityProviderStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/PersistedGrantStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ResourceStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/TokenCleanup/TokenCleanupTests.cs
  identity-server/test/EntityFramework.Storage.IntegrationTests/DatabaseProviderBuilder.cs
  identity-server/test/EntityFramework.Storage.IntegrationTests/DatabaseProviderFixture.cs
  identity-server/test/EntityFramework.Storage.IntegrationTests/EntityFramework.Storage.IntegrationTests.csproj
  identity-server/test/EntityFramework.Storage.IntegrationTests/FakeLogger.cs
  identity-server/test/EntityFramework.Storage.IntegrationTests/IntegrationTest.cs
  products.sln
Labels: internal, area/identity-server

#1806 Sanitize Log Input
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Hosting/CorsPolicyProvider.cs
  identity-server/src/IdentityServer/Hosting/EndpointRouter.cs
  identity-server/src/IdentityServer/Hosting/IdentityServerMiddleware.cs
  identity-server/src/IdentityServer/Hosting/MutualTlsEndpointMiddleware.cs
  identity-server/src/IdentityServer/Logging/ILoggerExtensions.cs
  identity-server/src/IdentityServer/Logging/SanitizedLogger.cs
  identity-server/src/IdentityServer/Services/Default/DefaultJwtRequestUriHttpClient.cs
  identity-server/src/IdentityServer/Services/Default/LogoutNotificationService.cs
  identity-server/src/IdentityServer/Services/Default/NopBackchannelAuthenticationUserNotificationService.cs
  identity-server/src/IdentityServer/Stores/Default/DefaultGrantStore.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/test/IdentityServer.UnitTests/Cors/PolicyProviderTests.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/EndpointRouterTests.cs
  identity-server/test/IdentityServer.UnitTests/Logging/SanitizedLoggerTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AuthorizeRequest Validation/Authorize_ProtocolValidation_Resources.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/Factory.cs
Labels: area/identity-server

#1813 JWT Validation Clock Skew Option
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/DPoPOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/Validation/Default/JwtRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AccessTokenValidation.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/Factory.cs
Labels: area/identity-server

#1832 Disable dependabot
  .github/dependabot.yml
Labels: area/all

#1805 Import AspNetCore extensions projects
  Directory.Packages.props
  aspnetcore-authentication-jwtbearer/.editorconfig
  aspnetcore-authentication-jwtbearer/.gitignore
  aspnetcore-authentication-jwtbearer/README.md
  aspnetcore-authentication-jwtbearer/aspnetcore-authentication-jwtbearer.slnf
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/AspNetCore.Authentication.JwtBearer.csproj
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ConfigureJwtBearerOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonContext.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonResult.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPServiceCollectionExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultReplayCache.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ExpirationValidationMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/IDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/IReplayCache.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/README.md
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/icon.png
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/AspNetCore.Authentication.JwtBearer.Tests.csproj
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AccessTokenCnfTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AssertionExtensions.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/DPoPProofValidatorTestBase.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/FreshnessTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/HeaderTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/PayloadTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/ReplayTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/TestDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/GlobalSuppressions.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestDPoPNonceStore.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/ApiHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/AppHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/GenericHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/IdentityServerHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/TestBrowserClient.cs
  products.sln
Labels: area/aspnetcore-authentication-jwtbearer

#1846 Add global.json to specify .NET SDK version
  global.json
Labels: .NET

#1840 Merge 7.1.1 Changes Forward to 7.2.x
  .github/workflow-gen/Program.cs
  .github/workflow-gen/Properties/launchSettings.json
  .github/workflow-gen/workflow-gen.csproj
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
  identity-server/src/IdentityServer/Services/Default/DefaultUserSession.cs
Labels: area/identity-server

#1847 Update .NET version to 9.0.103 in workflows
  .github/workflow-gen/Program.cs
  .github/workflows/bff-ci.yml
  .github/workflows/bff-codeql-analysis.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-codeql-analysis.yml
  .github/workflows/identity-server-release.yml
  .github/workflows/templates-release.yml
Labels: .NET

#1851 Remove outdated build script files
  bff/build.cmd
  bff/build.ps1
  bff/build.sh
  bff/dotnet-tools.json
  bff/global.json
Labels: area/bff

#1850 Run dotnet format on AspNetCore.Authentication.JwtBearer
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ConfigureJwtBearerOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonContext.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonResult.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPServiceCollectionExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ExpirationValidationMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/IReplayCache.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AccessTokenCnfTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/DPoPProofValidatorTestBase.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/HeaderTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/PayloadTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/ReplayTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/TestDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/GlobalSuppressions.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/ApiHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/AppHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/GenericHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/IdentityServerHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/TestBrowserClient.cs
Labels: area/aspnetcore-authentication-jwtbearer

#1852 Fix up an accidentally reverted Shouldly change
  identity-server/test/IdentityServer.UnitTests/Configuration/DependencyInjection/PostConfigureApplicationCookieTicketStoreTests.cs
Labels: area/identity-server

#1854 Unify jwtbearer editorconfig
  aspnetcore-authentication-jwtbearer/.editorconfig
  aspnetcore-authentication-jwtbearer/.gitignore
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ConfigureJwtBearerOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPOptions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonContext.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPProofValidatonResult.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPServiceCollectionExtensions.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultReplayCache.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/ExpirationValidationMode.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/IDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/IReplayCache.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AccessTokenCnfTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/AssertionExtensions.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/DPoPProofValidatorTestBase.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/FreshnessTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/HeaderTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/PayloadTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/ReplayTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/TestDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/GlobalSuppressions.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestDPoPNonceStore.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/ApiHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/AppHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/GenericHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/IdentityServerHost.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/TestBrowserClient.cs
Labels: area/aspnetcore-authentication-jwtbearer

#1856 Fix UI template naming for consistency
  identity-server/templates/src/UI/.template.config/template.json
Labels: area/templates

#1863 Remove server polling interval
  bff/src/Bff.Blazor.Client/BffBlazorOptions.cs
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/aspire.orchestrator.AppHost.v3.ncrunchproject
Labels: area/bff

#1860 Introduce the `StrictClientAssertionAudienceValidation` preview feature
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/PreviewFeatureOptions.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: impact/breaking, area/identity-server

#1858 reformat .editorconfig
  .editorconfig
  .github/workflow-gen/.editorconfig
  bff/templates/.editorconfig
  identity-server/templates/.editorconfig
Labels: area/all

#1866 set root editorconfig
  .editorconfig
Labels: area/all

#1862 Validate that "RememberMe" is allowed.
  identity-server/hosts/AspNetIdentity/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/Account/Login/Index.cshtml.cs
Labels: area/templates, impact/non-breaking

#1868 restore the tools config
  bff/.config/dotnet-tools.json
Labels: area/bff

#1867 Convert a bunch of test assertions from xunit assert to Shoudly
  Directory.Packages.props
  identity-server/test/EntityFramework.IntegrationTests/Services/CorsPolicyServiceTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/DbContexts/ClientDbContextTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/DeviceFlowStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/PersistedGrantStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ResourceStoreTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/ApiResourceMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/ClientMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/IdentityProviderMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/IdentityResourcesMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/PersistedGrantMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/PushedAuthorizationRequestMappersTests.cs
  identity-server/test/EntityFramework.Storage.UnitTests/Mappers/ScopeMappersTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/EndpointOptionsExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/IdentityServerBuilderExtensionsCryptoTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/StringExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/TokenExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/ValidatedAuthorizeRequestExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/ResponseHandling/DeviceAuthorizationResponseGeneratorTests.cs
  identity-server/test/IdentityServer.UnitTests/Storage/PersistedGrantFilterTests.cs
  test.props
Labels: area/identity-server

#1870 Use correct option to validate "Remember Me"
  identity-server/hosts/AspNetIdentity/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/Account/Login/Index.cshtml.cs
Labels: area/identity-server, area/templates, impact/non-breaking

#1871 Fix client authentication state for wasm projects
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent.Client/Components/CallApi.razor
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent.Client/Components/LoginDisplay.razor
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly/Hosts.Bff.Blazor.WebAssembly.csproj
  bff/hosts/Hosts.IdentityServer/ServiceDiscoveringClientStore.cs
  bff/src/Bff.Blazor.Client/BffBlazorClientOptions.cs
  bff/src/Bff.Blazor.Client/BffBlazorServerOptions.cs
  bff/src/Bff.Blazor.Client/BffClientAuthenticationStateProvider.cs
  bff/src/Bff.Blazor.Client/ServiceCollectionExtensions.cs
  bff/src/Bff.Blazor/BffBuilderExtensions.cs
  bff/src/Bff.Blazor/BffServerAuthenticationStateProvider.cs
  bff/src/Bff/EndpointServices/User/DefaultUserService.cs
  bff/test/Bff.Blazor.Client.UnitTests/BffClientAuthenticationStateProviderTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/ServiceCollectionExtensionsTests.cs
  bff/test/Bff.Blazor.Client.UnitTests/TestMocks.cs
  bff/test/Bff.Blazor.UnitTests/Bff.Blazor.UnitTests.csproj
  bff/test/Bff.Blazor.UnitTests/BffBlazorHost.cs
  bff/test/Bff.Blazor.UnitTests/BffBlazorTests.cs
  bff/test/Bff.Blazor.UnitTests/Components/App.razor
  bff/test/Bff.Blazor.UnitTests/Components/Layout/MainLayout.razor
  bff/test/Bff.Blazor.UnitTests/Components/Pages/Home.razor
  bff/test/Bff.Blazor.UnitTests/Components/Pages/Secure.razor
  bff/test/Bff.Blazor.UnitTests/Components/Routes.razor
  bff/test/Bff.Blazor.UnitTests/Components/_Imports.razor
  bff/test/Bff.Blazor.UnitTests/Properties/launchSettings.json
  bff/test/Bff.Blazor.UnitTests/ServerSideTokenStoreTests.cs
  bff/test/Bff.Blazor.UnitTests/wwwroot/app.css
  bff/test/Bff.Blazor.UnitTests/wwwroot/bootstrap/bootstrap.min.css
  bff/test/Bff.Blazor.UnitTests/wwwroot/bootstrap/bootstrap.min.css.map
  bff/test/Bff.Blazor.UnitTests/wwwroot/favicon.png
  bff/test/Bff.Tests/TestFramework/GenericHost.cs
Labels: area/bff

#1874 move serveroptions to server project
  bff/src/Bff.Blazor/BffBlazorServerOptions.cs
  bff/src/Bff.Blazor/BffBuilderExtensions.cs
  bff/src/Bff.Blazor/BffServerAuthenticationStateProvider.cs
Labels: area/bff

#1875 Update Microsoft.Playwright.Xunit package
  Directory.Packages.props
Labels: dependencies, impact/non-breaking

#1876 EditorConfig: Enforce that 'this.' should not be used when it's redundant
  .editorconfig
  bff/src/Bff/EndpointProcessing/BffUserAccessTokenParameters.cs
  bff/test/Bff.Tests/TestFramework/GenericHost.cs
  bff/test/Hosts.Tests/TestInfra/AppHostFixture.cs
Labels: area/all

#1879 EditorConfig: use var by default
  .editorconfig
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DefaultDPoPProofValidator.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoP/DPoPProofValidatorTestBase.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/TestBrowserClient.cs
  bff/hosts/Hosts.IdentityServer/Pages/Account/Logout/Index.cshtml.cs
  bff/hosts/RemoteApis/Hosts.RemoteApi.DPoP/DPoP/DPoPProofValidator.cs
  bff/src/Bff.Blazor/AddServerManagementClaimsTransform.cs
  bff/test/Bff.Blazor.Client.UnitTests/BffClientAuthenticationStateProviderTests.cs
  bff/test/Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Hosts.Tests/TestInfra/AppHostFixture.cs
  bff/test/Hosts.Tests/TestInfra/DelegateTextWriter.cs
  identity-server/clients/src/APIs/DPoPApi/DPoP/DPoPProofValidator.cs
  identity-server/clients/src/ConsoleCode/Program.cs
  identity-server/clients/src/ConsoleEphemeralMtlsClient/Program.cs
  identity-server/clients/src/ConsoleResourceIndicators/Program.cs
  identity-server/clients/src/WindowsConsoleSystemBrowser/Program.cs
  identity-server/src/IdentityServer/Endpoints/Results/EndPointResult.cs
  identity-server/src/IdentityServer/Extensions/NameValueCollectionExtensions.cs
  identity-server/src/IdentityServer/Infrastructure/MessageCookie.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeInteractionResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/AuthorizeResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/TokenResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/DefaultPersistedGrantService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultRefreshTokenService.cs
  identity-server/src/IdentityServer/Stores/InMemory/InMemoryPersistedGrantStore.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultDPoPProofValidator.cs
  identity-server/src/IdentityServer/Validation/Default/HashedSharedSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/StrictRedirectUriValidatorAppAuth.cs
  identity-server/src/Storage/Models/ClientClaim.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ClientStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/TokenCleanup/TokenCleanupTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/BrowserHandler.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/LicenseTests.cs
  identity-server/test/IdentityServer.IntegrationTests/TestFramework/TestBrowserClient.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/IdentityServerBuilderExtensionsCryptoTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/IdentityServerLicenseValidatorTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultBackchannelAuthenticationInteractionServiceTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultIdentityServerInteractionServiceTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultUserSessionTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/KeyManagement/KeyManagerOptionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/KeyManagement/KeyManagerTests.cs
  identity-server/test/IdentityServer.UnitTests/Stores/InMemoryClientStoreTests.cs
  identity-server/test/IdentityServer.UnitTests/Stores/InMemoryResourcesStoreTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/GrantTypesValidation.cs
  identity-server/test/IdentityServer.UnitTests/Validation/ResponseTypeEqualityComparison.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/BasicAuthenticationCredentialParsing.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/TokenFactory.cs
Labels: area/all

#1883 Remove the Experimental flags from the Preview options
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/PreviewFeatureOptions.cs
  identity-server/src/IdentityServer/Endpoints/DiscoveryEndpoint.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: area/identity-server

#1882 Remove http launchSettings from aspire
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/Properties/launchSettings.json
Labels: internal, area/identity-server

#1881 Always include displayname in external providers
  identity-server/hosts/AspNetIdentity/Pages/Account/Login/Index.cshtml.cs
  identity-server/hosts/Configuration/Pages/Account/Login/Index.cshtml.cs
  identity-server/hosts/EntityFramework/Pages/Account/Login/Index.cshtml.cs
  identity-server/hosts/main/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/IdentityServerInMem/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Login/Index.cshtml.cs
Labels: area/identity-server, area/templates, impact/non-breaking

#1865 Include and automate remaining console clients
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/Program.cs
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/appsettings.json
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/aspire.orchestrator.AppHost.csproj
  identity-server/clients/src/ConsoleCode/ConsoleCode.csproj
  identity-server/clients/src/ConsoleCode/Program.cs
  identity-server/clients/src/ConsoleCode/SystemBrowser.cs
  identity-server/clients/src/ConsoleResourceIndicators/ConsoleResourceIndicators.csproj
  identity-server/clients/src/ConsoleResourceIndicators/LoopbackHttpListener.cs
  identity-server/clients/src/ConsoleResourceIndicators/Program.cs
  identity-server/clients/src/ConsoleResourceIndicators/SystemBrowser.cs
  identity-server/clients/src/ConsoleScopesResources/ConsoleScopesResources.csproj
  identity-server/clients/src/ConsoleScopesResources/Program.cs
  identity-server/identity-server.slnf
  identity-server/migrations/AspNetIdentityDb/Program.cs
  identity-server/migrations/IdentityServerDb/Program.cs
Labels: area/identity-server, impact/non-breaking

#1884 Add workflow to delete NuGet packages via GitHub CLI
  .github/workflows/delete-github-package.yml
Labels: internal, area/all

#1886 Fix duplicate package error for templates and remove obsolete template pipelines
  .github/workflows/bff-templates-release.yml
  .github/workflows/identity-server-templates-release.yml
  templates.props
  templates/README.md
  templates/build/Program.cs
  templates/templates.csproj
Labels: area/all

#1890 Test Client Improvements
  identity-server/clients/src/ConsoleDcrClient/Program.cs
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
Labels: area/identity-server, impact/non-breaking

#1889 fix release pipeline
  .config/dotnet-tools.json
  .github/workflow-gen/Program.cs
  .github/workflows/templates-release.yml
  identity-server/.config/dotnet-tools.json
  templates.props
  templates/templates.csproj
Labels: area/all

#1892 Update templates to use 7.2.0 packages
  identity-server/templates/src/IdentityServerAspNetIdentity/IdentityServerAspNetIdentity.csproj
  identity-server/templates/src/IdentityServerEmpty/IdentityServerEmpty.csproj
  identity-server/templates/src/IdentityServerEntityFramework/IdentityServerEntityFramework.csproj
  identity-server/templates/src/IdentityServerInMem/IdentityServerInMem.csproj
Labels: area/identity-server, area/templates

#1893 Merge 7.2.0 forward to main
  identity-server/clients/src/ConsoleDcrClient/Program.cs
  identity-server/clients/src/ConsoleParameterizedScopeClient/Program.cs
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
  identity-server/perf/IdentityServer.PerfTests/Infrastructure/DebugLoggerProvider.cs
  identity-server/perf/IdentityServer.PerfTests/Infrastructure/IdentityServerContainer.cs
  identity-server/perf/IdentityServer.PerfTests/Infrastructure/InMemoryIdentityServerContainer.cs
  identity-server/perf/IdentityServer.PerfTests/Infrastructure/TestBase.cs
  identity-server/perf/IdentityServer.PerfTests/Program.cs
  identity-server/perf/IdentityServer.PerfTests/Services/DefaultTokenServiceTest.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/PreviewFeatureOptions.cs
  identity-server/src/IdentityServer/Endpoints/DiscoveryEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/Results/DiscoveryDocumentResult.cs
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
  identity-server/test/IdentityServer.UnitTests/Infrastructure/ObjectSerializerTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: area/identity-server, impact/non-breaking

#1894 Align UI Template with Other Templates
  identity-server/templates/src/UI/Pages/Account/AccessDenied.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Create/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Create/InputModel.cs
  identity-server/templates/src/UI/Pages/Account/Login/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Login/InputModel.cs
  identity-server/templates/src/UI/Pages/Account/Login/LoginOptions.cs
  identity-server/templates/src/UI/Pages/Account/Login/ViewModel.cs
  identity-server/templates/src/UI/Pages/Account/Logout/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Logout/LoggedOut.cshtml.cs
  identity-server/templates/src/UI/Pages/Account/Logout/LoggedOutViewModel.cs
  identity-server/templates/src/UI/Pages/Account/Logout/LogoutOptions.cs
  identity-server/templates/src/UI/Pages/Ciba/All.cshtml.cs
  identity-server/templates/src/UI/Pages/Ciba/Consent.cshtml.cs
  identity-server/templates/src/UI/Pages/Ciba/ConsentOptions.cs
  identity-server/templates/src/UI/Pages/Ciba/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Ciba/InputModel.cs
  identity-server/templates/src/UI/Pages/Ciba/ViewModel.cs
  identity-server/templates/src/UI/Pages/Consent/ConsentOptions.cs
  identity-server/templates/src/UI/Pages/Consent/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Consent/InputModel.cs
  identity-server/templates/src/UI/Pages/Consent/ViewModel.cs
  identity-server/templates/src/UI/Pages/Device/DeviceOptions.cs
  identity-server/templates/src/UI/Pages/Device/Index.cshtml
  identity-server/templates/src/UI/Pages/Device/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Device/InputModel.cs
  identity-server/templates/src/UI/Pages/Device/Success.cshtml.cs
  identity-server/templates/src/UI/Pages/Device/ViewModel.cs
  identity-server/templates/src/UI/Pages/Diagnostics/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Diagnostics/ViewModel.cs
  identity-server/templates/src/UI/Pages/Extensions.cs
  identity-server/templates/src/UI/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/templates/src/UI/Pages/ExternalLogin/Challenge.cshtml.cs
  identity-server/templates/src/UI/Pages/Grants/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Grants/ViewModel.cs
  identity-server/templates/src/UI/Pages/Home/Error/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Home/Error/ViewModel.cs
  identity-server/templates/src/UI/Pages/IdentityServerSuppressions.cs
  identity-server/templates/src/UI/Pages/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Log.cs
  identity-server/templates/src/UI/Pages/Redirect/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/SecurityHeadersAttribute.cs
  identity-server/templates/src/UI/Pages/ServerSideSessions/Index.cshtml
  identity-server/templates/src/UI/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Telemetry.cs
  identity-server/templates/src/UI/Pages/TestUsers.cs
Labels: area/identity-server, area/templates

#1891 remove duplicate file headers in identityserver
  identity-server/hosts/Configuration/Pages/Account/Logout/LoggedOutViewModel.cs
Labels: area/identity-server

#1859 Use `DefaultConcurrencyLock` as a Singleton instead of Transient.
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Infrastructure/ConcurrencyLock/DefaultConcurrencyLock.cs
Labels: area/identity-server, impact/non-breaking

#1895 Align Approach on Check If Request is Remote Amongst Hosts and Templates
  identity-server/hosts/AspNetIdentity/Pages/Diagnostics/Index.cshtml.cs
  identity-server/hosts/AspNetIdentity/Pages/Extensions.cs
  identity-server/hosts/AspNetIdentity/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/hosts/Configuration/Pages/Diagnostics/Index.cshtml.cs
  identity-server/hosts/Configuration/Pages/Extensions.cs
  identity-server/hosts/Configuration/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/hosts/EntityFramework/Pages/Diagnostics/Index.cshtml.cs
  identity-server/hosts/EntityFramework/Pages/Extensions.cs
  identity-server/hosts/EntityFramework/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/hosts/main/Pages/Diagnostics/Index.cshtml.cs
  identity-server/hosts/main/Pages/Extensions.cs
  identity-server/hosts/main/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/Diagnostics/Index.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/Extensions.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Diagnostics/Index.cshtml.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Extensions.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/templates/src/IdentityServerInMem/Pages/Diagnostics/Index.cshtml.cs
  identity-server/templates/src/IdentityServerInMem/Pages/Extensions.cs
  identity-server/templates/src/IdentityServerInMem/Pages/ServerSideSessions/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Diagnostics/Index.cshtml.cs
  identity-server/templates/src/UI/Pages/Extensions.cs
  identity-server/templates/src/UI/Pages/ServerSideSessions/Index.cshtml.cs
Labels: area/identity-server, area/templates

#1896 fix null ref in UserInfoRequestValidator
  identity-server/src/IdentityServer/Validation/Default/UserInfoRequestValidator.cs
Labels: area/identity-server, impact/non-breaking

#1906 Added registration of LicenseSummary to all templates
  identity-server/templates/src/IdentityServerAspNetIdentity/HostingExtensions.cs
  identity-server/templates/src/IdentityServerEmpty/HostingExtensions.cs
  identity-server/templates/src/IdentityServerEntityFramework/HostingExtensions.cs
  identity-server/templates/src/IdentityServerInMem/HostingExtensions.cs
Labels: area/products/identity-server, area/products/templates

#1907 Avoid Namespace Collisions with System.ClientModel in EF Template
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Admin/Clients/ClientRepository.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Admin/Clients/Edit.cshtml.cs
  identity-server/templates/src/UI/Pages/ServerSideSessions/Index.cshtml.cs
Labels: area/products/identity-server, area/products/templates

#1904 Parallel CI jobs
  .github/workflow-gen/Program.cs
  .github/workflow-gen/StepExtensions.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-ci.yml
  .github/workflows/aspnetcore-authentication-jwtbearer-codeql-analysis.yml
  .github/workflows/aspnetcore-authentication-jwtbearer-release.yml
  .github/workflows/bff-ci.yml
  .github/workflows/bff-codeql-analysis.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-codeql-analysis.yml
  .github/workflows/identity-server-release.yml
  .github/workflows/templates-release.yml
Labels: area/products, github_actions

#1909 Bump package versions in templates
  bff/templates/src/BffBlazor/BffBlazor/BffBlazor.csproj
  bff/templates/src/BffLocalApi/BffLocalApi.csproj
  bff/templates/src/BffRemoteApi/BffRemoteApi.csproj
Labels: area/products/templates, area/products/bff

#1887 Allow all dev API projects to run simultaneously in aspire
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/Program.cs
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/ResourceBuilderExtensions.cs
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/appsettings.json
  identity-server/clients/src/APIs/DPoPApi/IdentityController.cs
  identity-server/clients/src/APIs/DPoPApi/Properties/launchSettings.json
  identity-server/clients/src/APIs/ResourceBasedApi/Properties/launchSettings.json
  identity-server/clients/src/APIs/SimpleApi/Properties/launchSettings.json
  identity-server/clients/src/ConsoleCibaClient/Program.cs
  identity-server/clients/src/ConsoleClientCredentialsFlow/Program.cs
  identity-server/clients/src/ConsoleClientCredentialsFlowCallingIdentityServerApi/Program.cs
  identity-server/clients/src/ConsoleClientCredentialsFlowDPoP/Program.cs
  identity-server/clients/src/ConsoleClientCredentialsFlowPostBody/Program.cs
  identity-server/clients/src/ConsoleCode/Program.cs
  identity-server/clients/src/ConsoleCustomGrant/Program.cs
  identity-server/clients/src/ConsoleDcrClient/Program.cs
  identity-server/clients/src/ConsoleDeviceFlow/Program.cs
  identity-server/clients/src/ConsoleEphemeralMtlsClient/Program.cs
  identity-server/clients/src/ConsoleIntrospectionClient/Program.cs
  identity-server/clients/src/ConsoleMTLSClient/Program.cs
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
  identity-server/clients/src/ConsoleResourceIndicators/Program.cs
  identity-server/clients/src/ConsoleResourceOwnerFlow/Program.cs
  identity-server/clients/src/ConsoleResourceOwnerFlowPublic/Program.cs
  identity-server/clients/src/ConsoleResourceOwnerFlowReference/Program.cs
  identity-server/clients/src/ConsoleResourceOwnerFlowRefreshToken/Program.cs
  identity-server/clients/src/ConsoleResourceOwnerFlowUserInfo/Program.cs
  identity-server/clients/src/ConsoleScopesResources/Program.cs
  identity-server/clients/src/Constants/Constants.cs
  identity-server/clients/src/MvcAutomaticTokenManagement/HostingExtensions.cs
  identity-server/clients/src/MvcAutomaticTokenManagement/Program.cs
  identity-server/clients/src/MvcCode/Controllers/HomeController.cs
  identity-server/clients/src/MvcCode/HostingExtensions.cs
  identity-server/clients/src/MvcCode/Program.cs
  identity-server/clients/src/MvcDPoP/HostingExtensions.cs
  identity-server/clients/src/MvcDPoP/Program.cs
  identity-server/clients/src/MvcHybridBackChannel/Controllers/HomeController.cs
  identity-server/clients/src/MvcHybridBackChannel/Controllers/LogoutController.cs
  identity-server/clients/src/MvcHybridBackChannel/HostingExtensions.cs
  identity-server/clients/src/MvcHybridBackChannel/MvcHybridBackChannel.csproj
  identity-server/clients/src/MvcHybridBackChannel/Program.cs
  identity-server/clients/src/MvcJarJwt/AssertionService.cs
  identity-server/clients/src/MvcJarJwt/HostingExtensions.cs
  identity-server/clients/src/MvcJarJwt/Program.cs
  identity-server/clients/src/MvcJarUriJwt/AssertionService.cs
  identity-server/clients/src/MvcJarUriJwt/HostingExtensions.cs
  identity-server/clients/src/MvcJarUriJwt/Program.cs
  identity-server/identity-server.slnf
Labels: area/products/identity-server, impact/non-breaking

#1912 Run CodeQL on a larger hosted runner.
  .github/workflow-gen/Program.cs
  .github/workflow-gen/workflow-gen.csproj
  .github/workflows/aspnetcore-authentication-jwtbearer-ci.yml
  .github/workflows/bff-ci.yml
  .github/workflows/identity-server-ci.yml
Labels: github_actions

#1921 License Expiration Warning
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Configuration/IdentityServerApplicationBuilderExtensions.cs
  identity-server/src/IdentityServer/Hosting/EndpointRouter.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseExpirationChecker.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/EndpointRouterTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseExpirationCheckerTests.cs
Labels: area/products/identity-server

#1926 Don't unnecessarily return scope parameter from authorize endpoint
  identity-server/src/IdentityServer/Extensions/AuthorizeResponseExtensions.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/AuthorizeTests.cs
Labels: area/products/identity-server

#1922 Collapse unit tests to single test project
  .github/workflow-gen/Program.cs
  .github/workflows/bff-ci.yml
  bff/bff.slnf
  bff/src/Bff.Blazor.Client/Bff.Blazor.Client.csproj
  bff/test/Bff.Tests/Bff.Tests.csproj
  bff/test/Bff.Tests/Blazor/BffBlazorHost.cs
  bff/test/Bff.Tests/Blazor/BffBlazorTests.cs
  bff/test/Bff.Tests/Blazor/Client/AntiforgeryHandlerTests.cs
  bff/test/Bff.Tests/Blazor/Client/BffClientAuthenticationStateProviderTests.cs
  bff/test/Bff.Tests/Blazor/Client/FetchUserServiceTests.cs
  bff/test/Bff.Tests/Blazor/Client/ServiceCollectionExtensionsTests.cs
  bff/test/Bff.Tests/Blazor/Client/TestMocks.cs
  bff/test/Bff.Tests/Blazor/Components/App.razor
  bff/test/Bff.Tests/Blazor/Components/Layout/MainLayout.razor
  bff/test/Bff.Tests/Blazor/Components/Pages/Home.razor
  bff/test/Bff.Tests/Blazor/Components/Pages/Secure.razor
  bff/test/Bff.Tests/Blazor/Components/Routes.razor
  bff/test/Bff.Tests/Blazor/Components/_Imports.razor
  bff/test/Bff.Tests/Blazor/ServerSideTokenStoreTests.cs
  bff/test/Bff.Tests/Blazor/wwwroot/app.css
  bff/test/Bff.Tests/Blazor/wwwroot/bootstrap/bootstrap.min.css
  bff/test/Bff.Tests/Blazor/wwwroot/bootstrap/bootstrap.min.css.map
  bff/test/Bff.Tests/Blazor/wwwroot/favicon.png
  bff/test/Bff.Tests/Endpoints/DpopRemoteEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/LocalEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/BackchannelLogoutEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/LogoutEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/ManagementBasePathTests.cs
  bff/test/Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Bff.Tests/EntityFramework/UserSessionStoreTests.cs
  bff/test/Bff.Tests/GenericHostTests.cs
  bff/test/Bff.Tests/IAccessTokenRetriever_Extensibility_tests.cs
  bff/test/Bff.Tests/SessionManagement/CookieSlidingTests.cs
  bff/test/Bff.Tests/SessionManagement/RevokeRefreshTokenTests.cs
  bff/test/Bff.Tests/SessionManagement/ServerSideTicketStoreTests.cs
  bff/test/Bff.Tests/TestFramework/ApiResponse.cs
  bff/test/Bff.Tests/TestFramework/GenericHost.cs
  bff/test/Bff.Tests/TestFramework/MockExternalAuthenticationHandler.cs
  bff/test/Bff.Tests/TestFramework/TestBrowserClient.cs
  bff/test/Bff.Tests/TestFramework/TestLoggerProvider.cs
  bff/test/Bff.Tests/TestHosts/ApiHost.cs
  bff/test/Bff.Tests/TestHosts/BffHost.cs
  bff/test/Bff.Tests/TestHosts/BffHostUsingResourceNamedTokens.cs
  bff/test/Bff.Tests/TestHosts/BffIntegrationTestBase.cs
  bff/test/Bff.Tests/TestHosts/IdentityServerHost.cs
  bff/test/Bff.Tests/TestHosts/YarpBffHost.cs
  bff/test/Bff.Tests/TestHosts/YarpBffIntegrationTestBase.cs
  bff/test/Hosts.Tests/PageModels/LogOutPageModel.cs
  products.sln
Labels: area/products/bff

#1928 Add OpenTelemetry tracing and integrate IdentityServer
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.ServiceDefaults/Extensions.cs
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.ServiceDefaults/aspire.orchestrator.ServiceDefaults.csproj
  identity-server/hosts/EntityFramework-dotnet9/IdentityServerExtensions.cs
Labels: internal, area/products/identity-server, impact/non-breaking
