Repository DuendeSoftware/products, pull requests merged in 2025-09, with the labels that each got.

#2189 RFC 8414 support
  identity-server/src/IdentityServer/Configuration/DependencyInjection/BuilderExtensions/Core.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/EndpointOptions.cs
  identity-server/src/IdentityServer/Endpoints/BaseDiscoveryEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/DiscoveryEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/OAuthMetadataEndpoint.cs
  identity-server/src/IdentityServer/Hosting/Endpoint.cs
  identity-server/src/IdentityServer/Hosting/EndpointHelpers.cs
  identity-server/src/IdentityServer/Hosting/EndpointRouter.cs
  identity-server/src/IdentityServer/IdentityServerConstants.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/EndpointUsageDiagnosticEntry.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/RegisteredImplementationsDiagnosticEntry.cs
  identity-server/src/IdentityServer/Logging/ILoggerExtensions.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultIssuerPathValidator.cs
  identity-server/src/IdentityServer/Validation/IIssuerPathValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/OAuthMetadata/OAuthMetadataTests.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/EndpointHelpersTests.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/EndpointRouterTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/DiagnosticEntries/EndpointUsageDiagnosticEntryTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/DefaultIssuerPathValidatorTests.cs
Labels: area/products/identity-server

#2185 allow support for management basepath with templates
  bff/src/Bff/BffEndpointRouteBuilderExtensions.cs
  bff/test/Bff.Tests/Endpoints/WireupTests.cs
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
Labels: area/products/bff, impact/non-breaking

#2049 Set HTTP activity name on routing
  identity-server/CHANGELOG.md
  identity-server/src/IdentityServer/Hosting/IdentityServerMiddleware.cs
  identity-server/src/IdentityServer/Hosting/MutualTlsEndpointMiddleware.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/MockHttpActivityFeature.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/MockTestActivityMiddleware.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/IdentityServerMiddlewareTests..cs
Labels: area/products/identity-server

#2206 Support for custom parameters in authorize response
  identity-server/CHANGELOG.md
  identity-server/src/IdentityServer/Extensions/AuthorizeResponseExtensions.cs
  identity-server/src/IdentityServer/ResponseHandling/Models/AuthorizeResponse.cs
  identity-server/test/IdentityServer.IntegrationTests/Extensibility/CustomAuthorizeResponseGeneratorTests.cs
Labels: area/products/identity-server

#2210 More Log Messages to Short Links
  identity-server/src/Configuration/Licensing/LicenseValidator.cs
  identity-server/src/IdentityServer/Licensing/LicenseValidator.cs
Labels: internal, area/products/identity-server

#2209 Ensure Subject and Name Identifier Removed in External Callback
  identity-server/hosts/UI/AspNetIdentity/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/hosts/UI/Main/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/templates/src/IdentityServer/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/ExternalLogin/Callback.cshtml.cs
  identity-server/templates/src/IdentityServerInMem/Pages/ExternalLogin/Callback.cshtml.cs
Labels: area/products/identity-server

#2204 Update to ATM-4.0.0
  Directory.Packages.props
  bff/src/Bff/Configuration/BffUserAccessTokenParameters.cs
  identity-server/clients/src/MvcAutomaticTokenManagement/Controllers/HomeController.cs
  identity-server/clients/src/MvcDPoP/Controllers/HomeController.cs
  identity-server/clients/src/Web/Pages/Secure.cshtml.cs
Labels: area/products

#2219 Key Creation Optimization
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyManager.cs
Labels: area/products/identity-server, impact/non-breaking

#2211 Update JwtBearer Extensions Test to Latest ATM
  Directory.Packages.props
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestDPoPNonceStore.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/TestFramework/AppHost.cs
Labels: internal, area/products/jwtbearer

#1984 Reduce String Allocs in CryptoHelper
  identity-server/src/IdentityServer/Configuration/CryptoHelper.cs
  identity-server/test/IdentityServer.UnitTests/Configuration/CryptoHelperTests.cs
Labels: area/products/identity-server, impact/non-breaking

#2220 Merge 7.3.2 forward to main
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyManager.cs
Labels: internal, area/products/identity-server

#2225 Improve Playwright setup by caching artifacts
  .github/workflow-gen/Program.cs
  .github/workflow-gen/StepExtensions.cs
  .github/workflows/bff-ci.yml
Labels: area/products/bff
