Repository DuendeSoftware/products, pull requests merged in 2025-07, with the labels that each got.

#2083 Updated to version 7.1.0 of IdentityModel
  Directory.Packages.props
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
Labels: area/products/identity-server

#2078 Fixed typo in XML doc for Client.CoordinateLifetimeWithUserSession
  identity-server/CHANGELOG.md
  identity-server/src/Storage/Models/Client.cs
Labels: area/products/identity-server

#2088 Enable AnalysisMode All
  identity-server/src/Directory.Build.props
Labels: internal, area/products/identity-server

#2073 Reject Pushed Authorization Requests with parameters duplicated in a JAR
  identity-server/CHANGELOG.md
  identity-server/src/IdentityServer/Validation/Default/RequestObjectValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/PushedAuthorizationTests.cs
Labels: area/products/identity-server

#1959 Use correct signout scheme in ASP.NET Identity dev host
  identity-server/hosts/AspNetIdentity/HostingExtensions.cs
Labels: internal, area/products/identity-server

#2093 Refine configuration and honor XForwarded Headers
  bff/hosts/Hosts.Bff.Performance/Program.cs
  bff/hosts/Hosts.Bff.Performance/Properties/launchSettings.json
  bff/hosts/Hosts.Bff.Performance/Services/BffService.cs
  bff/hosts/Hosts.Bff.Performance/Services/IdentityServerService.cs
  bff/hosts/Hosts.Bff.Performance/Services/MultiFrontendBffService.cs
  bff/hosts/Hosts.Bff.Performance/Services/SingleFrontendBffService.cs
Labels: area/products/bff

#2096 Unfiy string extensions
  identity-server/src/EntityFramework.Storage/Duende.IdentityServer.EntityFramework.Storage.csproj
  identity-server/src/EntityFramework.Storage/Extensions/StringsExtensions.cs
  identity-server/src/EntityFramework.Storage/Stores/ResourceStore.cs
  identity-server/src/IdentityServer/Duende.IdentityServer.csproj
  identity-server/src/Shared/Extensions/StringExtensions.cs
  identity-server/src/Shared/Telemetry/Telemetry.cs
  identity-server/src/Shared/Telemetry/Tracing.cs
  identity-server/src/Storage/Duende.IdentityServer.Storage.csproj
  identity-server/src/Storage/Extensions/StringsExtensions.cs
  identity-server/test/EntityFramework.Storage.UnitTests/IsLocalUrlTests.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/StringExtensionsTests.cs
  products.slnx
Labels: internal, area/products/identity-server

#2095 clear ATM cache on frontend change
  bff/src/Bff/BffBuilderExtensions.cs
  bff/src/Bff/DynamicFrontends/Internal/BffCacheClearingHostedService.cs
  bff/src/Bff/DynamicFrontends/Internal/ConfigureBffStartupFilter.cs
  bff/src/Bff/Otel/LogMessages.cs
  bff/test/Bff.Tests/BffFrontendSigninTests.cs
  bff/test/Bff.Tests/ConventionTests.cs
Labels: area/products/bff

#2098 Address CA1305 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Configuration/CryptoHelper.cs
  identity-server/src/IdentityServer/Endpoints/Results/EndSessionCallbackResult.cs
  identity-server/src/IdentityServer/Endpoints/Results/ProtectedResourceErrorResult.cs
  identity-server/src/IdentityServer/Extensions/AuthorizeResponseExtensions.cs
  identity-server/src/IdentityServer/Extensions/NameValueCollectionExtensions.cs
  identity-server/src/IdentityServer/Extensions/PrincipalExtensions.cs
  identity-server/src/IdentityServer/Extensions/TokenExtensions.cs
  identity-server/src/IdentityServer/Hosting/FederatedSignOut/AuthenticationRequestHandlerWrapper.cs
  identity-server/src/IdentityServer/Hosting/IdentityServerAuthenticationService.cs
  identity-server/src/IdentityServer/IdentityServerTools.cs
  identity-server/src/IdentityServer/IdentityServerUser.cs
  identity-server/src/IdentityServer/Services/Default/DefaultBackchannelAuthenticationInteractionService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultClaimsService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultRefreshTokenService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultTokenService.cs
  identity-server/src/IdentityServer/Services/Default/NumericUserCodeGenerator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultDPoPProofValidator.cs
  identity-server/src/IdentityServer/Validation/Default/IntrospectionRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/src/IdentityServer/Validation/Models/GrantValidationResult.cs
  identity-server/src/Storage/IdentityServerUser.cs
Labels: internal, area/products/identity-server

#2109 Skip front-channel logout iframe when unnecessary
  identity-server/CHANGELOG.md
  identity-server/src/IdentityServer/Extensions/HttpContextExtensions.cs
  identity-server/test/IdentityServer.UnitTests/Extensions/HttpContextExtensionsTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultIdentityServerInteractionServiceTests.cs
Labels: area/products/identity-server

#2100 Address CA1308 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework/Services/CorsPolicyService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultIssuerNameService.cs
Labels: internal, area/products/identity-server

#2102 Addresses CA1310 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Configuration/DependencyInjection/ConfigureInternalCookieOptions.cs
  identity-server/src/IdentityServer/Extensions/ServerUrlExtensions.cs
  identity-server/src/IdentityServer/Extensions/ValidatedAuthorizeRequestExtensions.cs
  identity-server/src/IdentityServer/Hosting/DynamicProviders/Oidc/OidcConfigureOptions.cs
  identity-server/src/IdentityServer/Infrastructure/MessageCookie.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/AssemblyInfoDiagnosticEntry.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Stores/Default/DefaultGrantStore.cs
  identity-server/src/IdentityServer/Validation/Default/BackchannelAuthenticationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/BearerTokenUsageValidator.cs
  identity-server/src/IdentityServer/Validation/Default/RequestObjectValidator.cs
Labels: internal, area/products/identity-server

#2114 Address CA1012 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Endpoints/Results/AuthorizeInteractionPageResult.cs
  identity-server/src/IdentityServer/Hosting/DynamicProviders/Configuration/ConfigureAuthenticationOptions.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyContainer.cs
Labels: internal, area/products/identity-server

#2115 Address CA1034 Violations
  identity-server/src/Directory.Build.props
Labels: internal, area/products/identity-server

#2117 Address CA1052 Violations
  identity-server/src/AspNetIdentity/SecurityStampValidatorCallback.cs
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Models/GrantTypes.cs
Labels: internal, area/products/identity-server

#2118 Address CA1200 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework.Storage/DbContexts/ConfigurationDbContext.cs
  identity-server/src/IdentityServer/Events/UserLoginFailureEvent.cs
Labels: internal, area/products/identity-server

#2113 Address several todo's in the bff codebase
  bff/src/Bff.Blazor/BffBuilderExtensions.cs
  bff/src/Bff.Yarp/Internal/AccessTokenRequestTransform.cs
  bff/src/Bff.Yarp/Internal/ProxyBffPluginLoader.cs
  bff/src/Bff.Yarp/Internal/RemoteApiConfiguration.cs
  bff/src/Bff.Yarp/Internal/RemoteRouteHandler.cs
  bff/src/Bff.Yarp/RemoteApi.cs
  bff/src/Bff.Yarp/ReverseProxyEndpointConventionBuilderExtensions.cs
  bff/src/Bff/BffBuilderExtensions.cs
  bff/src/Bff/DynamicFrontends/Internal/BffCacheClearingHostedService.cs
  bff/src/Bff/DynamicFrontends/Internal/BffIndex.cs
  bff/src/Bff/DynamicFrontends/Internal/FrontendCollection.cs
  bff/src/Bff/DynamicFrontends/Internal/IndexHtmlHttpClient.cs
  bff/src/Bff/DynamicFrontends/Origin.cs
  bff/src/Bff/Otel/LogMessages.cs
  bff/src/Bff/SessionManagement/Configuration/PostConfigureApplicationCookieRevokeRefreshToken.cs
  bff/test/Bff.Tests/BffFrontendIndexTests.cs
  bff/test/Bff.Tests/BffFrontendSigninTests.cs
  bff/test/Bff.Tests/BffRemoteApiTests.cs
  bff/test/Bff.Tests/Blazor/BffBlazorTests.cs
  bff/test/Bff.Tests/Configuration/BffBuilderTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_Yarp.verified.txt
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
  bff/test/Bff.Tests/TestInfra/TestHybridCache.cs
  bff/test/Bff.Tests/TestInfra/TestLoggerProvider.cs
  bff/test/Bff.Tests/TestInfra/TestTokenRetriever.cs
  bff/test/Hosts.Tests/TestInfra/BffClient.cs
Labels: area/products/bff

#2123 Validate version input after checkout
  .github/workflow-gen/Program.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-release.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-release.yml
Labels: github_actions

#2129 add xforwarded header support
  bff/src/Bff/BffApplicationBuilderExtensions.cs
  bff/src/Bff/DynamicFrontends/Internal/ConfigureBffStartupFilter.cs
  bff/test/Bff.Tests/BffFrontendMatchingTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
Labels: area/products/bff

#2133 make sure access token type is case insensitive
  bff/src/Bff/Extensions/HttpContextExtensions.cs
Labels: area/products/bff

#2134 bump to atm 4.0.0-rc.2
  Directory.Packages.props
Labels: area/products/bff

#2130 Adds license warnings to the BFF
  Directory.Packages.props
  bff/src/Bff.Blazor.Client/Bff.Blazor.Client.csproj
  bff/src/Bff.Blazor/BffServerAuthenticationStateProvider.cs
  bff/src/Bff/Bff.csproj
  bff/src/Bff/BffBuilderExtensions.cs
  bff/src/Bff/BffEndpointRouteBuilderExtensions.cs
  bff/src/Bff/DynamicFrontends/Internal/FrontendCollection.cs
  bff/src/Bff/Licensing/License.cs
  bff/src/Bff/Licensing/LicenseValidator.cs
  bff/src/Bff/Licensing/LicenseValidatorLocal.cs
  bff/src/Bff/Licensing/LicensingLogMessages.cs
  bff/src/Bff/Otel/LogMessages.cs
  bff/test/Bff.Tests/LicensingTests.cs
  bff/test/Bff.Tests/MultiFrontend/FrontendCollectionTests.cs
  bff/test/Bff.Tests/MultiFrontend/FrontendSelectorTests.cs
  bff/test/Bff.Tests/TestInfra/BffTestHost.cs
  bff/test/Bff.Tests/TestInfra/TestDataBuilder.cs
Labels: area/products/bff

#2141 Update licensing messages
  identity-server/src/IdentityServer/Licensing/IdentityServerLicenseValidator.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseExpirationChecker.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseUsageTracker.cs
  identity-server/src/IdentityServer/Licensing/V2/Log.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/LicenseTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseExpirationCheckerTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseUsageTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/ProtocolRequestCounterTests.cs
Labels: area/products/identity-server

#2136 Address CA1805 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework.Storage/Entities/Client.cs
  identity-server/src/EntityFramework.Storage/Options/ConfigurationStoreOptions.cs
  identity-server/src/EntityFramework.Storage/Options/OperationalStoreOptions.cs
  identity-server/src/EntityFramework.Storage/Stores/ServerSideSessionStore.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/ConfigureOpenIdConnectOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/AuthenticationOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/DiscoveryOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/EndpointOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/EventsOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/IdentityServerOptions.cs
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/PreviewFeatureOptions.cs
  identity-server/src/IdentityServer/Licensing/IdentityServerLicenseValidator.cs
  identity-server/src/Storage/Models/ApiScope.cs
  identity-server/src/Storage/Models/Client.cs
  identity-server/src/Storage/Models/IdentityResource.cs
Labels: internal, area/products/identity-server

#2142 Address CA1822 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/EntityFramework.Storage/Stores/PersistedGrantStore.cs
  identity-server/src/EntityFramework.Storage/Stores/ServerSideSessionStore.cs
  identity-server/src/IdentityServer/Endpoints/BackchannelAuthenticationEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/Results/CheckSessionResult.cs
  identity-server/src/IdentityServer/Endpoints/Results/EndSessionCallbackResult.cs
  identity-server/src/IdentityServer/Endpoints/TokenEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/UserInfoEndpoint.cs
  identity-server/src/IdentityServer/Hosting/IdentityServerAuthenticationService.cs
  identity-server/src/IdentityServer/Infrastructure/DistributedCacheStateDataFormatter.cs
  identity-server/src/IdentityServer/Infrastructure/MessageCookie.cs
  identity-server/src/IdentityServer/Licensing/IdentityServerLicenseValidator.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/ClientLoadedTracker.cs
  identity-server/src/IdentityServer/Licensing/V2/Diagnostics/DiagnosticEntries/AssemblyInfoDiagnosticEntry.cs
  identity-server/src/IdentityServer/Licensing/V2/License.cs
  identity-server/src/IdentityServer/Models/RefreshTokenCreationRequest.cs
  identity-server/src/IdentityServer/Services/Default/DefaultBackChannelLogoutService.cs
  identity-server/src/IdentityServer/Services/Default/DefaultPersistedGrantService.cs
  identity-server/src/IdentityServer/Stores/Caching/CachingResourceStore.cs
  identity-server/src/IdentityServer/Stores/Default/DefaultUserConsentStore.cs
  identity-server/src/IdentityServer/Stores/Default/DistributedCacheAuthorizationParametersMessageStore.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/BasicAuthenticationSecretParser.cs
  identity-server/src/IdentityServer/Validation/Default/BearerTokenUsageValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DeviceAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PushedAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/RequestObjectValidator.cs
  identity-server/src/IdentityServer/Validation/Default/StrictRedirectUriValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/TokenValidator.cs
  identity-server/src/IdentityServer/Validation/Models/GrantValidationResult.cs
  identity-server/src/Storage/Stores/Serialization/PersistentGrantSerializer.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AuthorizeRequest Validation/Authorize_ProtocolValidation_PAR.cs
Labels: internal, area/products/identity-server

#2144 Address CA1825 Violations
  identity-server/src/Directory.Build.props
  identity-server/src/IdentityServer/Services/Default/DefaultReplayCache.cs
Labels: internal, area/products/identity-server

#2146 Improve version validation messages
  .github/workflow-gen/Program.cs
  .github/workflow-gen/StepExtensions.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-release.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-release.yml
  .github/workflows/templates-release.yml
Labels: area/products
