Repository DuendeSoftware/products, pull requests merged in 2025-04, with the labels that each got.

#1933 Don't return redirect URI or response mode on unsafe errors
  identity-server/src/IdentityServer/Endpoints/Results/AuthorizeResult.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/AuthorizeTests.cs
  identity-server/test/IdentityServer.UnitTests/Endpoints/Results/AuthorizeResultTests.cs
Labels: area/products/identity-server

#1930 Addresses an unhandled exception path & nullability concerns
  identity-server/src/IdentityServer/Validation/Default/DefaultScopeParser.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DefaultRefreshTokenServiceTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/TokenRequest Validation/TokenRequestValidation_Invalid.cs
Labels: area/products/identity-server, impact/non-breaking

#1934 Add public api tests
  .gitignore
  Directory.Packages.props
  bff/test/Bff.Tests/Bff.Tests.csproj
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_Blazor.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_Blazor_Client.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_EntityFramework.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_Yarp.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.cs
Labels: area/products/bff, impact/non-breaking

#1935 setup root namespace for BFF
  bff/migrations/Directory.Build.props
  bff/src/Bff.Blazor.Client/Bff.Blazor.Client.csproj
  bff/src/Directory.Build.props
  bff/test/Bff.Tests/Blazor/BffBlazorHost.cs
  bff/test/Bff.Tests/Blazor/Components/Routes.razor
  bff/test/Directory.Build.props
Labels: area/products/bff, impact/non-breaking

#1931 Implement prompt support for login
  bff/src/Bff/Configuration/BffEndpointRouteBuilderExtensions.cs
  bff/src/Bff/Configuration/BffOptions.cs
  bff/src/Bff/Configuration/BffServiceCollectionExtensions.cs
  bff/src/Bff/Constants.cs
  bff/src/Bff/EndpointServices/Login/DefaultLoginService.cs
  bff/src/Bff/EndpointServices/SilentLogin/BffOpenIdConnectEvents.cs
  bff/src/Bff/EndpointServices/SilentLogin/DefaultSilentLoginService.cs
  bff/src/Bff/EndpointServices/SilentLogin/PostConfigureOidcOptionsForSilentLogin.cs
  bff/src/Bff/Extensions/AuthenticationPropertiesExtensions.cs
  bff/src/Bff/Extensions/HttpContextExtensions.cs
  bff/test/Bff.Tests/Bff.Tests.net8.0.v3.ncrunchproject
  bff/test/Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/Management/ManagementBasePathTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestHosts/IdentityServerHost.cs
Labels: impact/breaking, area/products/bff

#1939 Update the build pathspec to include .editorconfig
  .github/workflow-gen/Program.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-ci.yml
  .github/workflows/bff-ci.yml
  .github/workflows/identity-server-ci.yml
Labels: area/products

#1932 allow anti-forgery check to be disabled
  bff/src/Bff.Yarp/AntiforgeryMiddleware.cs
  bff/src/Bff/Configuration/AnonymousSessionResponse.cs
  bff/src/Bff/Configuration/BffOptions.cs
  bff/src/Bff/Configuration/DisableAntiForgeryCheck.cs
  bff/src/Bff/EndpointProcessing/BffMiddleware.cs
  bff/src/Bff/EndpointServices/User/DefaultUserService.cs
  bff/test/Bff.Tests/Endpoints/RemoteEndpointTests.cs
  bff/test/Bff.Tests/Endpoints/YarpRemoteEndpointTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/TestHosts/YarpBffHost.cs
Labels: area/products/bff

#1948 Tell linquistic that the primary repository language is C#
  .gitattributes
Labels: area/products

#1918 Use available async overloads in tests
  identity-server/clients/src/WindowsConsoleSystemBrowser/CallbackManager.cs
  identity-server/test/EntityFramework.IntegrationTests/Services/CorsPolicyServiceTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ClientStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/DeviceFlowStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/IdentityProviderStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/PersistedGrantStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/Stores/ResourceStoreTests.cs
  identity-server/test/EntityFramework.IntegrationTests/Storage/TokenCleanup/TokenCleanupTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Hosting/IdentityServerMiddlewareTests..cs
  identity-server/test/IdentityServer.UnitTests/Endpoints/Results/AuthorizeResultTests.cs
  identity-server/test/IdentityServer.UnitTests/Endpoints/Results/CheckSessionResultTests.cs
  identity-server/test/IdentityServer.UnitTests/Endpoints/Results/EndSessionCallbackResultTests.cs
  identity-server/test/IdentityServer.UnitTests/Services/Default/DistributedDeviceFlowThrottlingServiceTests.cs
Labels: area/products/identity-server

#1911 Remove redundant ImplicitUsings from proj files
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent.Client/Hosts.Bff.Blazor.PerComponent.Client.csproj
  bff/hosts/Blazor/PerComponent/Hosts.Bff.Blazor.PerComponent/Hosts.Bff.Blazor.PerComponent.csproj
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly.Client/Hosts.Bff.Blazor.WebAssembly.Client.csproj
  bff/hosts/Blazor/WebAssembly/Hosts.Bff.Blazor.WebAssembly/Hosts.Bff.Blazor.WebAssembly.csproj
  bff/hosts/Hosts.AppHost/Hosts.AppHost.csproj
  bff/hosts/Hosts.ServiceDefaults/Hosts.ServiceDefaults.csproj
  bff/src/Bff.Blazor.Client/Bff.Blazor.Client.csproj
  bff/src/Bff.Blazor/Bff.Blazor.csproj
  bff/test/Bff.Blazor.Client.UnitTests/Bff.Blazor.Client.UnitTests.csproj
  bff/test/Bff.Blazor.UnitTests/Bff.Blazor.UnitTests.csproj
  bff/test/Hosts.Tests/Hosts.Tests.csproj
  identity-server/clients/src/ConsoleDcrClient/ConsoleDcrClient.csproj
  identity-server/src/Configuration.EntityFramework/Duende.IdentityServer.Configuration.EntityFramework.csproj
  identity-server/src/Configuration/Duende.IdentityServer.Configuration.csproj
  identity-server/test/Configuration.IntegrationTests/Configuration.IntegrationTests.csproj
Labels: area/products

#1945 Add metrics to BFF
  bff/hosts/Hosts.ServiceDefaults/Extensions.cs
  bff/hosts/Hosts.ServiceDefaults/Hosts.ServiceDefaults.csproj
  bff/src/Bff.EntityFramework/Store/UserSessionStore.cs
  bff/src/Bff/Configuration/BffServiceCollectionExtensions.cs
  bff/src/Bff/Internal/BffMetrics.cs
  bff/src/Bff/SessionManagement/SessionStore/IUserSessionStoreCleanup.cs
  bff/src/Bff/SessionManagement/SessionStore/SessionCleanupHost.cs
  bff/src/Bff/SessionManagement/TicketStore/ServerSideTicketStore.cs
  bff/test/Bff.Tests/Blazor/ServerSideTokenStoreTests.cs
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff.verified.txt
  bff/test/Bff.Tests/PublicApiVerificationTests.VerifyPublicApi_Bff_EntityFramework.verified.txt
Labels: impact/breaking, state/needs-triage, area/products/bff

#1941 Use source gen logging for BFF
  bff/src/Bff.Blazor.Client/Internals/FetchUserService.cs
  bff/src/Bff.Blazor.Client/Internals/Log.cs
  bff/src/Bff.Blazor.Client/Internals/PersistentUserService.cs
  bff/src/Bff.Blazor/ServerSideTokenStore.cs
  bff/src/Bff.EntityFramework/Store/UserSessionStore.cs
  bff/src/Bff/EndpointProcessing/BffAuthenticationService.cs
  bff/src/Bff/EndpointProcessing/BffMiddleware.cs
  bff/src/Bff/Internal/BffMetrics.cs
  bff/src/Bff/Internal/Log.cs
  bff/src/Bff/SessionManagement/TicketStore/ServerSideTicketStore.cs
  bff/test/Bff.Tests/Blazor/ServerSideTokenStoreTests.cs
Labels: area/products/bff, impact/non-breaking

#1901 Remove redundant ToArray calls
  identity-server/hosts/EntityFramework/Pages/Admin/ApiScopes/ApiScopeRepository.cs
  identity-server/hosts/EntityFramework/Pages/Admin/Clients/ClientRepository.cs
  identity-server/hosts/EntityFramework/Pages/Admin/IdentityScopes/IdentityScopeRepository.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Admin/ApiScopes/ApiScopeRepository.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Admin/Clients/ClientRepository.cs
  identity-server/templates/src/IdentityServerEntityFramework/Pages/Admin/IdentityScopes/IdentityScopeRepository.cs
Labels: area/products/identity-server

#1917 Remove redundant initializations
  identity-server/src/IdentityServer/Endpoints/IntrospectionEndpoint.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/TokenResponseGenerator.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/UserInfoResponseGenerator.cs
  identity-server/src/IdentityServer/Services/Default/KeyManagement/KeyManager.cs
  identity-server/src/IdentityServer/Stores/InMemory/InMemoryServerSideSessionStore.cs
  identity-server/src/IdentityServer/Validation/Default/HashedSharedSecretValidator.cs
  identity-server/src/IdentityServer/Validation/Default/IntrospectionRequestValidator.cs
Labels: area/products/identity-server

#1927 Allow all clients to run against both EF hosts (net8.0 and net9.0)
  identity-server/aspire/aspire.orchestrator/aspire.orchestrator.AppHost/appsettings.json
  identity-server/hosts/AspNetIdentity/Host.AspNetIdentity.csproj
  identity-server/hosts/AspNetIdentity/IdentityServerExtensions.cs
  identity-server/hosts/Configuration/Host.Configuration.csproj
  identity-server/hosts/Configuration/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework-dotnet9/Extensions/ParameterizedScopeParser.cs
  identity-server/hosts/EntityFramework-dotnet9/Host.EntityFramework.dotnet9.csproj
  identity-server/hosts/EntityFramework-dotnet9/HostingExtensions.cs
  identity-server/hosts/EntityFramework-dotnet9/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework-dotnet9/LocalApiController.cs
  identity-server/hosts/EntityFramework-dotnet9/Pages/TestUsers.cs
  identity-server/hosts/EntityFramework/Extensions/ParameterizedScopeParser.cs
  identity-server/hosts/EntityFramework/Host.EntityFramework.csproj
  identity-server/hosts/EntityFramework/HostingExtensions.cs
  identity-server/hosts/EntityFramework/IdentityServerExtensions.cs
  identity-server/hosts/EntityFramework/LocalApiController.cs
  identity-server/hosts/EntityFramework/Pages/TestUsers.cs
  identity-server/hosts/Shared/Configuration/ClientsConsole.cs
  identity-server/hosts/Shared/Configuration/ClientsWeb.cs
  identity-server/hosts/Shared/Configuration/TestClients.cs
  identity-server/hosts/Shared/Configuration/TestResources.cs
  identity-server/hosts/Shared/Configuration/TestUsers.cs
  identity-server/hosts/Shared/Customization/CustomClientRegistrationProcessor.cs
  identity-server/hosts/Shared/Customization/DiscoveryHealthCheck.cs
  identity-server/hosts/Shared/Customization/ExtensionGrantValidator.cs
  identity-server/hosts/Shared/Customization/HostProfileService.cs
  identity-server/hosts/Shared/Customization/NoSubjectExtensionGrantValidator.cs
  identity-server/hosts/Shared/Customization/ParameterizedScopeParser.cs
  identity-server/hosts/Shared/Customization/ParameterizedScopeTokenRequestValidator.cs
  identity-server/hosts/Shared/Customization/SameSiteHandlingExtensions.cs
  identity-server/hosts/main/DiscoveryHealthCheck.cs
  identity-server/hosts/main/Extensions/ExtensionGrantValidator.cs
  identity-server/hosts/main/Extensions/HostProfileService.cs
  identity-server/hosts/main/Extensions/NoSubjectExtensionGrantValidator.cs
  identity-server/hosts/main/Extensions/ParameterizedScopeParser.cs
  identity-server/hosts/main/Extensions/ParameterizedScopeTokenRequestValidator.cs
  identity-server/hosts/main/Extensions/SameSiteHandlingExtensions.cs
  identity-server/hosts/main/Host.Main.csproj
  identity-server/hosts/main/IdentityServerExtensions.cs
  identity-server/hosts/main/Pages/TestUsers.cs
  identity-server/migrations/AspNetIdentityDb/AspNetIdentityDb.csproj
  identity-server/migrations/AspNetIdentityDb/Program.cs
  identity-server/migrations/AspNetIdentityDb/SeedData.cs
  identity-server/migrations/AspNetIdentityDb/Startup.cs
  identity-server/migrations/IdentityServerDb/IdentityServerDb.csproj
  identity-server/migrations/IdentityServerDb/Program.cs
  identity-server/migrations/IdentityServerDb/SeedData.cs
  identity-server/migrations/IdentityServerDb/Startup.cs
  products.sln
Labels: area/products/identity-server

#1947 V2 License Functionality Updates
  identity-server/src/IdentityServer/Licensing/V2/License.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseAccessorTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseExpirationCheckerTests.cs
Labels: area/products/identity-server, impact/non-breaking

#1951 Source Generator Based Logging for V2 License Code
  identity-server/src/IdentityServer/Licensing/V2/LicenseAccessor.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseExpirationChecker.cs
  identity-server/src/IdentityServer/Licensing/V2/Log.cs
  identity-server/src/IdentityServer/Licensing/V2/ProtocolRequestCounter.cs
Labels: area/products/identity-server, impact/non-breaking

#1952 Add contributing guidelines
  .github/CONTRIBUTING.md
Labels: area/products

#1953 Add a readme
  README.md
Labels: area/products

#1956 Use PAR IdentityModel constants
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
Labels: internal, area/products/identity-server, impact/non-breaking

#1728 Made tracing class public to allow activity source extensions
  identity-server/src/Telemetry/Tracing.cs
Labels: area/products/identity-server, source/community

#1954 V2 License Client Warnings
  identity-server/src/IdentityServer/Licensing/IdentityServerLicenseValidator.cs
  identity-server/src/IdentityServer/Licensing/V2/LicenseUsageTracker.cs
  identity-server/src/IdentityServer/Licensing/V2/Log.cs
  identity-server/test/IdentityServer.UnitTests/Configuration/DependencyInjection/PostConfigureApplicationCookieTicketStoreTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/IdentityServerLicenseValidatorTests.cs
  identity-server/test/IdentityServer.UnitTests/Licensing/v2/LicenseUsageTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/AuthorizeRequest Validation/Authorize_ProtocolValidation_Resources.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Setup/Factory.cs
Labels: area/products/identity-server

#1955 Include PAR in mtls aliases
  Directory.Packages.props
  identity-server/clients/src/ConsolePrivateKeyJwtClient/Program.cs
  identity-server/clients/src/MvcJarJwt/AssertionService.cs
  identity-server/clients/src/MvcJarUriJwt/AssertionService.cs
  identity-server/src/IdentityServer/ResponseHandling/Default/DiscoveryResponseGenerator.cs
  identity-server/src/IdentityServer/Validation/Default/IntrospectionRequestValidator.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Discovery/DiscoveryEndpointTests.cs
Labels: area/products/identity-server, impact/non-breaking

#1962 Fix DCR customizations for EF client configuration
  identity-server/hosts/Shared/Customization/CustomClientRegistrationProcessor.cs
Labels: internal, area/products/identity-server

#1963 Can disable codeql analysis through an environment variable.
  .github/workflow-gen/StepExtensions.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-ci.yml
  .github/workflows/bff-ci.yml
  .github/workflows/identity-server-ci.yml
Labels: internal

#1969 Make DPoP authorization scheme case-insensitive
  aspnetcore-authentication-jwtbearer/src/AspNetCore.Authentication.JwtBearer/DPoP/DPoPJwtBearerEvents.cs
  aspnetcore-authentication-jwtbearer/test/AspNetCore.Authentication.JwtBearer.Tests/DPoPIntegrationTests.cs
Labels: impact/non-breaking, area/products/jwtbearer

#1970 Merge 7.2.1's fix forward to main
  identity-server/src/IdentityServer/Validation/Default/PrivateKeyJwtSecretValidator.cs
  identity-server/test/IdentityServer.UnitTests/Validation/Secrets/PrivateKeyJwtSecretValidation.cs
Labels: internal, area/products/identity-server, impact/non-breaking

#1964 Update documentation links
  bff/README.md
  bff/src/Bff.EntityFramework/README.md
  bff/src/Bff.Yarp/README.md
  bff/src/Bff/README.md
  bff/test/Bff.Tests/Endpoints/Management/LoginEndpointTests.cs
  identity-server/README.md
  identity-server/hosts/AspNetIdentity/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/Configuration/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/EntityFramework-dotnet9/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/EntityFramework/Pages/ServerSideSessions/Index.cshtml
  identity-server/hosts/main/Pages/ServerSideSessions/Index.cshtml
  identity-server/src/AspNetIdentity/README.md
  identity-server/src/Configuration.EntityFramework/README.md
  identity-server/src/Configuration/README.md
  identity-server/src/EntityFramework.Storage/README.md
  identity-server/src/EntityFramework/README.md
  identity-server/src/IdentityServer/README.md
  identity-server/src/Storage/README.md
  identity-server/templates/src/IdentityServerAspNetIdentity/Pages/ServerSideSessions/Index.cshtml
  identity-server/templates/src/IdentityServerEntityFramework/Pages/ServerSideSessions/Index.cshtml
  identity-server/templates/src/IdentityServerInMem/Pages/ServerSideSessions/Index.cshtml
Labels: area/products

#1976 Harden default logging filters for PAR and Authorize endpoints (7.0)
  nuget.config
  src/IdentityServer/Configuration/DependencyInjection/Options/LoggingOptions.cs
  test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  test/IdentityServer.IntegrationTests/Common/MockLogger.cs
  test/IdentityServer.IntegrationTests/Endpoints/Authorize/PushedAuthorizationTests.cs
Labels: area/products/identity-server, impact/non-breaking

#1977 Harden default logging filters for PAR and Authorize endpoints (7.1)
  nuget.config
  src/IdentityServer/Configuration/DependencyInjection/Options/LoggingOptions.cs
  test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  test/IdentityServer.IntegrationTests/Common/MockLogger.cs
  test/IdentityServer.IntegrationTests/Endpoints/Authorize/PushedAuthorizationTests.cs
Labels: area/products/identity-server, impact/non-breaking

#1978 Harden default logging filters for PAR and Authorize endpoints (7.2)
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/LoggingOptions.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/IdentityServerPipeline.cs
  identity-server/test/IdentityServer.IntegrationTests/Common/MockLogger.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/PushedAuthorizationTests.cs
Labels: area/products/identity-server, impact/non-breaking

#1974 Support binding of authorization codes to dpop proof key via dpop header
  identity-server/src/IdentityServer/Endpoints/PushedAuthorizationEndpoint.cs
  identity-server/src/IdentityServer/Endpoints/Results/PushedAuthorizationErrorResult.cs
  identity-server/src/IdentityServer/Endpoints/TokenEndpoint.cs
  identity-server/src/IdentityServer/ResponseHandling/Models/PushedAuthorizationResponse.cs
  identity-server/src/IdentityServer/Validation/Contexts/PushedAuthorizationRequestValidationContext.cs
  identity-server/src/IdentityServer/Validation/Default/AuthorizeRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Default/DefaultDPoPProofValidator.cs
  identity-server/src/IdentityServer/Validation/Default/PushedAuthorizationRequestValidator.cs
  identity-server/src/IdentityServer/Validation/Models/PushedAuthorizationValidationResult.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Authorize/PushedAuthorizationTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPEndpointTestBase.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPPushedAuthorizationEndpointTests.cs
  identity-server/test/IdentityServer.IntegrationTests/Endpoints/Token/DPoPTokenEndpointTests.cs
  identity-server/test/IdentityServer.UnitTests/Validation/DPoPProofValidatorTests.cs
Labels: area/products/identity-server

#1979 Backport CI and Release build workflows to 7.0.x branch
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
Labels: area/products/identity-server, impact/non-breaking

#1981 Migrate to slnx, set SDK to 9.0.203, and remove SDK upper bound
  .github/workflow-gen/StepExtensions.cs
  .github/workflows/aspnetcore-authentication-jwtbearer-ci.yml
  .github/workflows/aspnetcore-authentication-jwtbearer-release.yml
  .github/workflows/bff-ci.yml
  .github/workflows/bff-release.yml
  .github/workflows/identity-server-ci.yml
  .github/workflows/identity-server-release.yml
  .github/workflows/templates-release.yml
  .gitignore
  aspnetcore-authentication-jwtbearer/aspnetcore-authentication-jwtbearer.slnf
  bff/bff.slnf
  global.json
  identity-server/clients/identity-server-clients.slnf
  identity-server/identity-server.slnf
  identity-server/perf/identity-server-perf.slnf
  products.sln
  products.sln.DotSettings
  products.slnx
Labels: area/products

#1990 Respect port number in mTLS configuration
  identity-server/src/IdentityServer/Configuration/DependencyInjection/Options/MtlsOptions.cs
  identity-server/src/IdentityServer/Hosting/MutualTlsEndpointMiddleware.cs
  identity-server/test/IdentityServer.UnitTests/Hosting/MutualTlsEndpointMiddlewareTests.cs
Labels: area/products/identity-server, impact/non-breaking
